[2015-08-29 07:28] tvdeyen commented on #867
Sounds like a weird Rails code reloading issue. Did you tried to stop spring with:

`spring stop`

Or, if this does not help remove the `alchemy_cms` gem and reinstall it.

[2015-09-01 00:06] #867 closed

[2015-09-01 00:06] AlexEscalante commented on #867
This was strange. I will start with a new project and let you know my findings

[2015-09-01 00:09] AlexEscalante opened #870 "Configuring an EssenceSelect from elements.yml file"
If I just add an EssenceSelect to the elements.yml file I get the following error in the editor:

[code]

Is there an example available for how to configure the essence as a setting on the elements.yml file?

[2015-09-01 05:38] tvdeyen commented on #870
There is an example in the [guidelines](http://guides.alchemy-cms.com/edge/essences.html). See the EssenceSelect section for `select_values` syntax and scroll down to "Configuring Essences" in order to see how to pass the settings in the `elements.yml`.

Please use the official [Slack channel](http://slack.alchemy-cms.com) or the user group mailing list to ask these kind of questions in the future

[2015-09-01 05:38] #870 closed

[2015-09-03 22:40] tvdeyen commented on #794
Confirm that displaying animated gifs are broken. Will provide a pull request that fixes that in the way that all thumbnails will get converted correctly into the target format.

But, I will not change the thumbnail format, because one does not want to really see the animation inside the thumbnail.

This would be visually distracting. The zoomed image in the library overlay should display the imag

[2015-09-04 07:41] #794 closed

[2015-09-04 09:43] #860 closed

[2015-09-04 22:04] tvdeyen commented on #858
Yes, this would be great. Taking the first nested element or respectively it's `as_element_title` sounds reasonable.

[2015-09-04 22:21] tvdeyen commented on #850
This is default Thor (the Rails generators base) behavior for reverting the `empty_directory` action.

We should replace it with a simple `directory` call, then. Benefit: We can spare the `copy_templates` method since the `directory` method supports copying templates.

What error did you get? Could you please paste it here including the backtrace.

[2015-09-04 22:36] tvdeyen commented on #848
Yes, this would be better. The best solution would be a rake task, that takes the base locale file (I.e. `en`) and copy each key into the other files that don't have this key yet. This wold keep them always in sync.

Spree [has such task](https://github.com/spree-contrib/spree_i18n/blob/7de0a6da94c5da7d75f0ff4aa1746f55a09aa4b9/lib/tasks/i18n.rake). Maybe we can use it as a starting point.

[2015-09-04 22:44] tvdeyen commented on #846
This should be fixed. We assume that all primary keys of all resources are always `id`. This is a naïve assumption and should be changed to `primary_key` wherever we call `id` on the `resource`.

Would you mind to send a pull request that changes this? That would be awesome.

[2015-09-04 22:45] tvdeyen commented on #835
Fixed via 1f33f2bae28ab9a1cf18f01fd5427d6219466ac8

[2015-09-04 22:45] #835 closed

[2015-09-04 22:50] tvdeyen commented on #831
Yes since Rails 4 it raises an exception if a locale file is not present. On can disable this, but this is in host app land and therefore not in our hands.

We could catch that error on create or update of an  Alchemy::Language and tell the user, that she needs such locale file first. Or create an empty locale file if needed. I prefer the first. What do you think? @mamhoff @robinboening

[2015-09-04 22:53] tvdeyen commented on #819
Still an issue?

[2015-09-05 08:45] robinboening commented on #819
Yep, I just tried it again and can confirm thats still an issue. I just picked any picture which is unused and tried to delete it.

[2015-09-05 08:51] tvdeyen commented on #819
Not for me. Which Alchemy Version do you use? Can you please provide exact steps how to reproduce this issue. Is the element in the trash maybe? Do you get any error message?

[2015-09-05 08:53] robinboening commented on #819
Okay, now I know what the actual issue is:
It seems like there are orphaned elements, but I don't know why this happend. Its data from the servers database.

I inspected the picture object...
The picture is assigned to an essence, that is why it returns `false` on `#deletable?`. It is also assigned to an element. But the weird thing comes here:

The element has a `page_id` assigned, but the `page`

[2015-09-05 08:55] robinboening commented on #819
In the admin UI it tells you the picture is not assigned, so it seems it can be deleted.

[2015-09-05 08:55] tvdeyen commented on #819
A nested element? We recently fixed a bug, where nested elements kept their page_id during copy. Maybe there is still an issue with nested elements? Could it be trashing?

[2015-09-05 08:57] robinboening commented on #819
Could be related to nested elements, I don't know. Next strange thing:

`parent_element_id` returns an id while `parent_element` is `nil`.

[code]

[2015-09-05 08:59] robinboening commented on #819
Sounds a bit like the nested element has not been deleted when its parent was deleted, right?

[2015-09-05 09:02] robinboening commented on #819
I think its missing `dependent: :destroy` in `element.rb` on `has_many :nested_elements`.

[2015-09-05 09:06] tvdeyen commented on #819
Yes. This is it. Can you fix it?

[2015-09-05 09:07] robinboening commented on #819
Sure, I will.

[2015-09-05 09:09] tvdeyen commented on #819
😘

[2015-09-05 09:17] robinboening commented on #819
PR: https://github.com/AlchemyCMS/alchemy_cms/pull/877

[2015-09-05 09:18] tvdeyen commented on #819
Thanks. So this here can be closed, right?

[2015-09-05 09:21] robinboening commented on #819
I am quite sure it will fix this issue here. Otherwise we can reopen or create another issue.

[2015-09-05 09:21] #819 closed

[2015-09-05 09:21] tvdeyen commented on #819
Now I know why we have orphaned elements without a related page. When we delete a page, than all dependent elements get destroyed, but not their nested elements.

[2015-09-05 12:31] mamhoff commented on #831
I vote for raising an understandable error.

[2015-09-05 12:50] tvdeyen commented on #831
Go

[2015-09-05 12:59] robinboening commented on #831
hmmm, I am not sure about that right now...

The user needs to know that if she decides to use that locale, translations for that locale will not work. So, raising is actually the right thing. But I don't really like to catch an error to raise another one...

I throw in another idea that just came to my mind:

If you create/update a language in Alchemy and write a locale in the admin UI, you also

[2015-09-05 20:07] tvdeyen commented on #831
@robinboening I think I don't quite understand your idea, sorry.

Do you mean, that the user should be able to upload a local.yml file while be creating the language? Or did you mean something else?

I just had the idea, that we could provide a UI for editing and creating locale files. This would not be very hard to implement but a very nice feature. We often have the problem that some texts are i

[2015-09-05 22:03] robinboening commented on #831
My idea was different front that.
I try  lit in different words:

An admin can create a language. That language has a locale. if this locale Has no according translation file, the website will not be translated properly when switching to this locale. So, why not giving the admin user the ability to assign one of the existing translations to the newly created/updated language? Usually this can be d

[2015-09-06 19:29] tvdeyen commented on #831
Ok. That's sounds good. The user defines the locale file for that particular language. And because they can't even save without choosing at least on of the locales, there will never be an error.

Nice idea. I like it.

[2015-09-06 19:33] tvdeyen commented on #831
And the only thing we need to change is how we set the `I18n.locale` in https://github.com/AlchemyCMS/alchemy_cms/blob/master/app/controllers/alchemy/base_controller.rb#L26 👍 to something like `Alchemy::Language.current.locale`

[2015-09-06 21:23] tvdeyen commented on #831
Ok. I think I got it working. Will still need some proper wording to explain the user what we want from them, though.

What about:

"Please choose the translation file you want this language to be assigned to. Typically this is the one matching the language code."

German:

"Bitte wählen Sie die Übersetzungsdatei die sie dieser Sprache zuweisen wollen. Üblicherweise ist dies die, die dem Sprachkür

[2015-09-07 09:48] tvdeyen commented on #831
@mamhoff @robinboening the solution I added in #878 is not ideal. Please have a look into it and support accordingly. Thanks

[2015-09-21 11:50] IngoAlbers opened #880 "RSS feeds not working anymore"
The RSS functionality is broken. This is because the rss route is not handled by the alchemy pages controller, as introduced in this commit: https://github.com/AlchemyCMS/alchemy_cms/commit/16dfc930cc09c0bee9200946eb00f3bac4f10536

It could be fixed by also allowing `:rss` in the `handable_format?` in the `RoutingConstraints`.

[2015-09-23 08:28] IngoAlbers opened #883 "RSS feeds also show elements that are not public"
The `feed_elements` function doesn't check if the elements are published, so the RSS feed will show elements, that are not public.

See: https://github.com/AlchemyCMS/alchemy_cms/blob/master/app/models/alchemy/page/page_elements.rb#L201

[2015-09-29 12:45] #849 closed

[2015-10-01 18:56] #880 closed

[2015-10-02 14:54] #883 closed

[2015-10-07 20:28] andreaswachowski commented on #867
Just in case someone else stumbles upon this, perhaps I can add more details, since I had the same problem today:

As a newcomer to alchemy with the need to create a new essence in an existing Alchemy project, I followed the Alchemy guide and ran a "rails g alchemy:essence Alchemy::EssenceSomething".
This however created "Alchemy::Alchemy" namespaces, so I immediately deleted all created files, an

[2015-10-08 00:45] AlexEscalante commented on #867
Thanks for your contribution! Sounds a lot like this is the problem I faced weeks ago.

I still have pending an essence for animated svg images, so I could stumble with this again…

[2015-10-08 07:35] robinboening commented on #867
Thank you for pointing that out!

[2015-11-10 14:30] nicolai86 opened #894 "AlchemyCMS can become extremly unresponsive with thousands of pages."
Hey,

this is more a (re-)collection of problems we're facing, preparing our installation of alchemy (= 3.2.0) for production, and our mitigations to these problems. Hopefully they might be useful for others when evaluating alchemy as a CMS.

background:
We decided to use alchemy as a replacement for a medium sized CMS setup with ~100k pages. Our setup is completely hosted in AWS, using postgreSQL

[2015-11-10 15:33] tvdeyen commented on #894
Hey, yes, this is already discussed and the solution would be to separate the navigation tree from the pages.

If we do that, then lots of these issues will be gone IMO. Especially the performance issues of the nested set. I presume, that, if you don't have all these thousand of pages in the navigation, right? And even then, we could change that to an eager loading tree.

Having the pages a normal

[2015-11-10 15:34] tvdeyen commented on #894
And here is the Trello Board: https://trello.com/b/EDoGFAul/alchemy-4

[2015-11-10 15:38] tvdeyen commented on #894
@nicolai86 please PM me, so I can add you to the Trello Board.

[2015-11-10 16:02] robinboening commented on #894
Thanks for sharing your experiences @nicolai86.

Thomas already mentioned the node branch (best thing since sliced bread, at least for Alchemy) ;).
I am not sure, but I think the node branch is like 90% ready to work, so you can save a lot of time if you use this branch, catch up with the master and finish it. It will definitely solve your performance issues. The other great thing is we can merge

[2015-11-11 13:00] nicolai86 commented on #894
@tvdeyen we do not use the alchemy navigation at all - we just use the sitemap & many stand alone pages.

@robinboening at this point we've a "stablish" fork of alchemy 3.2 which contains fixes for all the above issues and more, so waiting for alchemy 4 is no option for us. Hopefully, given time, we'll be able to contribute some of the changes back.

[2015-12-06 20:53] mtomov opened #898 "Elimiate a page lookup on frontend cached elements"
Hello,

While observing the logs with caching on for rendering a standard alchemy page, I noticed a page lookup that happens on every rendered element:

[code]
Which is due to the `cache_key` method on element, specifically the `self.page`

[code]

I think that if we change both sides of the comparison to use `page_id`, that would eliminate the naughty Exists lookup.

I think that the other CACHED

[2015-12-07 06:44] tvdeyen commented on #898
Good catch @mtomov

Would you please send a pull request? Thanks for reporting!

[2015-12-08 13:55] afdev82 opened #899 "Use of site_id param and session cookie also in the not admin area"
I found probably a bug in the current version of Alchemy (3.2)
The new feature to switch websites in the admin area sets the session and uses the parameter site_id to change the Site
but this is used in general in the website (also not admin area)
as a result:
* Anyone can use the site_id param to switch website (also to non public websites)
* I'm redirected using the session cookie to another dom

[2015-12-08 16:41] mtomov commented on #898
Thanks,

Did some more digging in. I was right about the memorization part with the CACHE, but the lookup query is actually coming from this line here:

[code]
https://github.com/AlchemyCMS/alchemy_cms/blob/master/app/models/alchemy/element.rb#L226

which is called from here: `element.store_page(@page) if part.to_sym == :view`
https://github.com/AlchemyCMS/alchemy_cms/blob/master/app/helpers/alche

[2015-12-09 22:19] tvdeyen commented on #898
No, this is not a bug. We want to make sure, that each page that an element is rendered on, get's rendered freshly after updating the element.

That there is no test is bad and should be fixed, but the behavior is intended.

I can't see what line causes the `EXISTS` query. Is it the `page.nil?` call?

[2015-12-09 22:30] tvdeyen commented on #899
This is bad and should be fixed ASAP.

Yes, the new site loading via `site_id` param introduced in #790 should be reverted and moved into admin/base_controller.

Thanks for reporting @afdev82 !

[2015-12-10 09:29] mtomov commented on #898
It's the one below `self.touchable_pages.include?`

I understand that, but shouldn't this freshness update happen on the backend, in the editor, not in the view partial.

[2015-12-15 17:33] #832 closed

[2015-12-15 17:34] #665 closed

[2015-12-15 17:35] tvdeyen commented on #665
Closed because it's stale. If the issue still exist, please reopen again and provide feedback in order to fix this issue. Thanks for your understanding.

[2015-12-15 17:35] tvdeyen commented on #832
Closed because it's stale. If the issue still exist, please reopen again and provide feedback in order to fix this issue. Thanks for your understanding.

[2015-12-15 17:36] tvdeyen commented on #729
@masche842 any news here?

[2015-12-15 17:47] tvdeyen commented on #739
This is very strange. We merge the ability classes in order to have them both available all over. But since we don't declare any `modify` `alias_action` I can't see any problem with this.

@afdev82 do you also have Spree included in your project? Because [spree clears all aliased actions in their ability class](https://github.com/spree/spree/blob/master/core/app/models/spree/ability.rb#L26).

Mayb

[2015-12-15 20:33] tvdeyen commented on #781
Closed because it's stale. If the issue still exist, please reopen again and provide feedback in order to fix this issue. Thanks for your understanding.

[2015-12-15 20:33] #781 closed

[2015-12-16 10:59] mtomov commented on #898
Looking a bit more into this, this `element.store_page(@page)` I think should happen on `after_create`, or maybe `after_update` on the element, but not in either the `editor` or `view` partials.

[2015-12-16 12:01] tvdeyen commented on #898
No, it has to happen in the very moment the element get's rendered.
There is just no other way to know, on which page an element was rendered and therefore has to invalidate this pages cache key.

#### Image following situation:

Having a global page "sidebar" with an element "news".

Then you have a normal content page "home" and you render the global "news" element on this page with

[code]

Now

[2015-12-16 12:02] tvdeyen commented on #898
`element.store_page` registers this page as a page that's cache key has to be updated after the element has been updated.

[2015-12-16 12:33] mtomov commented on #898
Right, now I remember thinking about this situation, but as I was writing the reply today, I forgot about it. Yes, you are right.

In that case, wouldn't the rendering of the element in the `:editor` be sufficient? I really want to avoid the `Alchemy::Page Exists (2.2ms)` on call every element on the frontend. I can submit a PR.

[2015-12-16 12:43] tvdeyen commented on #894
Just stumbled upon http://mceachen.github.io/closure_tree/
Looks very promising.

@nicolai86 thanks. Would be great if you could invest the time to contribute back.

[2015-12-16 16:30] nicolai86 commented on #894
@tvdeyen `closure_tree` is what I used as a replacement, and it worked great. You should probably investigate it as an alternative. Sadly I won't be able to contribute a patch for this change since I moved on since opening the issue.

[2015-12-16 16:30] #894 closed

[2015-12-20 15:52] mtomov commented on #898
I've re-read and re-thought your explanation, and now I understand the purpose of the touchable pages. Sorry about the incorrect replies.

I think the unknown pages problem is limited to elements on global pages. The most common use for global elements is to have them render on all pages (menu, footer) (I've used a parent page for a blog sidebar menu). Thereby, doesn't it make sense to blow the ca

[2015-12-20 19:49] tvdeyen commented on #898
It is not limited to global pages, but it is very common for this usecase, yes.

Unfortunately we can't be sure that only elements from global pages get rendered on other pages. Also, invalidating cache of all pages, every time a global element updates is not what we want. That would lead to unwanted behavior.

Image following scenario:

User A updates a page's content and does not publish the cur

[2015-12-20 19:54] tvdeyen commented on #898
Could we address this with removing the `touchable_pages.include?` call? We really don't need to check if the page is already in the collection and rely on active record `unique` here. But are we then just passing the `exist` call to active record?

[2015-12-21 12:13] afdev82 commented on #739
No, I don't use Spree.
But I need in some pages both Alchemy permissions and my app specific permissions, for sure I could use the array instead of the alias, but it would be nice to know what happens.

[2015-12-21 12:45] afdev82 commented on #739
Maybe is it a problem of the cancancan gem?
I saw that in the [merge method](https://github.com/CanCanCommunity/cancancan/blob/develop/lib/cancan/ability.rb#L248) (used by Alchemy to merge the rules), it merges only the rules, not the aliased_actions.

[2015-12-21 14:28] tvdeyen commented on #739
Sounds unlikely for me, since you are declaring a different aliased action.
We alias `:edit_content`, you're alias is `: modify`. Can't image why this should be an issue.

Maybe ask the CanCanCan team?

[2015-12-21 14:40] afdev82 commented on #739
Yes, you are right, this is not a problem.
The problem here is that the merge method from cancancan doesn't merge the aliases, but only the rules.
I think this is an issue for the CanCanCan gem (if it's not by design)

[2015-12-21 20:19] tvdeyen commented on #739
Ok. But when do you need to have your custom alias inside an alchemy controller scope?

[2015-12-22 08:05] afdev82 commented on #739
For example I have a page (view) that is generated by one controller in my app.
In this page I want also to include the menu from alchemy, so I use the same layout of the website, but I need the permissions for the pages to display the right menu structure.
I included the ControllerActions in my applicationController, in this way I have the permissions from Alchemy, but I need also other permissio

[2015-12-24 10:51] mtomov commented on #898
Right, maybe not that problematic. Since we have turned off the regular alchemy page caching as we have elements with dynamic content that need be refreshed a bit more often, we rely on the the regular elements caching, and since the homepage has a few too many elements (30), those sum up to a *60ms* total. I guess not a huge deal indeed, and those again won't be happening if we were using the pag

[2015-12-24 13:20] tvdeyen commented on #898
Yeah. We should make this dependent from `cache_pages` configuration. Mind to send a pull request?

[2015-12-24 13:23] mtomov commented on #898
Will do!

[2016-01-05 23:45] tvdeyen opened #909 "Test ticket from Code Climate"

[2016-01-05 23:45] #909 closed

[2016-01-05 23:46] tvdeyen opened #910 "Refactor Alchemy::Admin::PicturesController from an F on Code Climate"
https://codeclimate.com/github/AlchemyCMS/alchemy_cms/Alchemy::Admin::PicturesController

[2016-01-05 23:47] #910 closed

[2016-01-07 13:20] mtomov commented on #898
The rails cached bit
[code]

comes from the `element.cache_key`, specifically the `page.published_at`. I don't think there is a way to avoid this, as every element does the page lookup for itself, so we can't memorize it or so.

The only way is not to rely on the default `cache_key`, but to specify your own explicitly in the views. Something like that `<%- cache([element.updated_at.to_s(:number),

[2016-01-11 00:26] mamhoff commented on #848
There's also this gem: https://github.com/glebm/i18n-tasks - has all this and more. I've worked with it for a bit, and it does great things! I'll see wether I find some time.

[2016-01-22 20:46] travisp opened #920 "ActionView::Template::Error: undefined method `parameterize' for nil:NilClass"
Seems to happen consistently when creating a new page, get this error a lot:

[code]

[2016-01-22 22:11] tvdeyen commented on #920
Could you share any more information. Alchemy version, Rails version and other Gems in you app.

How do you create the page. Via the UI or in the console or API?

Thanks for reporting.

[2016-01-24 17:36] mtomov commented on #898
The Exists lookup was resolved with #911 ; The `CACHE (0.0ms)` bit is not possible to resolve as per the previous comment. Closing now. Thank you.

[2016-01-24 17:36] #898 closed

[2016-01-26 13:22] travisp commented on #920
This is on alchemy_cms 3.2.0, rails 4.2.5, ruby 2.3.0

List of gems that are present in all environments (the error was seeing in development and production):
[code]

This is when the page was created during the UI. It seems to happen immediately after the page is created and be resolved after a forced refresh of the page. Notably, I'm not sure why it tries to access ```/admin/pages/1x``` since I

[2016-01-26 22:10] tvdeyen commented on #920
Sounds like a turbolinks/js problem. Is `1x` really the id  of your page or is it some kind of placeholder?

[2016-01-28 12:08] travisp commented on #920
I am unaware of where 1x comes from -- it is not anything we enter

[2016-02-05 13:38] robinboening opened #928 "Page loading does not respect Language/Site"
We figured out `#load_page` does not respect the current `Language`/`Site`, which leads to a wrong assignment of `@page`. We already fixed it in this branch https://github.com/AlchemyCMS/alchemy_cms/tree/fix/page_loading but it needs a test until we can merge it.

[2016-02-05 15:07] robinboening opened #929 "Show year of creation in Attachment-Library"
I got a complaint about not presenting the year of creation of a file in the library. At first I thought only the current year is not be shown but past years might be... but its not, years are never presented at all.

I think its better to include the year within the date

<img width="663" alt="screenshot 2016-02-05 16 02 28" src="https://cloud.githubusercontent.com/assets/342977/12849865/1f2ad22c

[2016-02-05 17:37] blahutka opened #930 "Multiple sites organizing page_layouts"
Hi guys, is it possible to have nested folders in page_layouts folder to separate different sites?
If not, how do you normally organize your templates for multiple sites?

` page_layouts (folder)`
  - site1/_index.html.erb
  - site2/_index.html.erb

`page_layouts.yml`

  name: 'site1/index'
  elements [article]

[2016-02-05 18:06] tvdeyen commented on #930
There is a not very well documented (sorry!) feature called `sites.yml`. This offers exactly what you described.

Please use the official Google group, slack, Gitter, IRC or Stackoverflow for questions like these. GitHub issues are for bugs and new features, not for support

Thanks

[2016-02-05 18:07] #930 closed

[2016-02-05 18:37] tvdeyen commented on #929
And maybe a short date format would be sufficient. We don't need the full name of the month

[2016-02-05 18:46] robinboening commented on #899
@afdev82 did you find some time working on this issue, or will you?

[2016-02-08 08:01] afdev82 commented on #899
Hi, I made a pull request (#900), but I had to fix the tests.

[2016-02-08 15:42] robinboening opened #934 "Removing cropping setting for picture results in bad picture parameters in URL"
**Given:**
Element with a picture content and `crop: true` setting. Deployed to the server.
Now I decide to remove cropping for that picture content by setting `crop: false` and deploy again.

**Expectation:**
1.) The picture should be rendered
2.) The picture URL should not contain cropping information
3.) The picture should not be cropped anymore

**Problem:**
The picture is not rendered at all.

[2016-02-08 19:46] tvdeyen commented on #934
This is related to caching. Publishing the page should fix your problem.

But we should address this. I.e. by adding the essence settings to the cache key.

[2016-02-08 22:13] robinboening commented on #934
I tried publishing the page. Does not solve the issue. Also in the preview frame the picture can not be rendered. Even swapping the picture and using another one from the library will not help rendering the picture.

[2016-02-09 00:02] tvdeyen commented on #934
Yeah. Because the content gets cached in the `essence_picture_view`. Please try to override the partial in your app, remove the `cache(content) do` block and see if this fixes your problem. We should then remove all cache blocks from essence views or at least include the settings and options in the cache key.

[2016-02-15 14:05] blahutka commented on #849
Is it possible to merge #886  fix to 3.2-stable? I can confirm the same bug there too.

[2016-02-17 10:52] robinboening opened #936 "Picture preprocessing with ArgumentError"
When `config.yml` defines the preprocessing as stated in the comments (with the `>` symbol) one will get this error:

[code]

When I remove the `>` the error does not happen.

[code]

[2016-02-17 13:00] robinboening opened #937 "Resource relations with none ActiveRecord attributes breaking the search"
Situation:

I have companies with different branches in different locations, but of course they still have the same name. When the editor is now choosing a company for a contact he/she wants to differentiate between those equally shown company names, so we added the location to the company name by adding a simple method on the model.

In short:

I have a model called `contact` which is associated

[2016-02-17 13:12] tvdeyen commented on #936
We append the `>` while preprocessing:

https://github.com/AlchemyCMS/alchemy_cms/blob/master/app/models/alchemy/picture.rb#L48

Not a good idea. We should fix that.

[2016-02-17 15:37] tvdeyen commented on #937
That's because we switched to Ransack. Ransack only knows table columns. In order to fix this, we need to distinguish between attribute methods and attribute columns.

[2016-02-17 15:47] #936 closed

[2016-02-17 16:08] tvdeyen commented on #934
@robinboening did overriding the `app/views/alchemy/essences/_essence_picture_view` partial and removing the `cache(content)` block help?

[2016-02-18 20:39] travisp opened #939 "Rails 5 compatibility"
compass-rails needs to be updated to support rails 5 (because rails 5 requires rack >= 2.0)

https://github.com/Compass/compass-rails/issues/254

[2016-02-22 10:45] robinboening commented on #934
I just tried overwriting the partial and removed the `cache` block. It fixed the issue partly, but not for all the picture essences. There are some pictures left that are not rendered.

My guess is: The issue might be related with the remaining cropping information in the database. I have this feeling because overwriting fixed the issue with those pictures I never cropped before, but for the remai

[2016-02-22 16:13] robinboening commented on #934
It was indeed the remaining cropping information in the database. We found a good solution for that. I will come up with a PR, hopefully today.

[2016-02-22 21:24] blahutka commented on #763
I have same problem in 3.2

[2016-02-24 14:18] maxtedford opened #942 "Dynamic urlname minimum length validation?"
My organization would like to create a page that lives at urlname '/c', but there's a validation being called on the Page model via the PageNaming module that restricts url names to be at least three characters long. When we set the urlname to 'c' it gets overridden to '--c'.

##### In page_naming.rb:

[code]

It would be great if the urlname length validation could be overridden dynamically in a

[2016-02-24 14:42] tvdeyen commented on #942
The problem is `/:locale/:urlname` (ie.: `/de/home`). If we allow url names shorter then 3 the rails router could not distinguish between a page or locale. What page should we load if a request is just `/de`?

[2016-02-24 14:44] tvdeyen commented on #942
I know that this could be frustrating. Any suggestions on how to fix this are welcome.

[2016-02-24 18:37] robinboening commented on #942
I see two possible approaches to circumvent it:

* Create a `Page` with a name longer than 3 characters, but also create a `LegacyPage` with a name `c`. The LegacyPage will redirect to the `Page` with the longer name. Maybe thats okay for you...

* Overwrite the validation - But only when you are sure you don't need more than one language. (I really don't like that approach, but its possible)

Ano

[2016-02-24 20:30] tvdeyen commented on #942
Unfortunately using `LegacyPage` won't work, because the router will never hit the show action in `PagesController`. The [router will match any two letter path](https://github.com/AlchemyCMS/alchemy_cms/blob/master/config/routes.rb#L155) as locale and pass this as `params[:locale]` into the `PagesController`.

[2016-02-24 20:33] robinboening commented on #942
I thought the same, but I tried it anyway and it worked.

[2016-02-24 20:52] tvdeyen commented on #942
For a `LegacyPage` with urlname `c`, sure, because the `RegExp` doesn't match. But not for pages with two letters (or `ab-cd`). Everything else will work, right.

[2016-02-24 20:58] tvdeyen commented on #942
So, we got change the validation to use the same regexp as the router to match locale urls. So 1 letter urls would be possible. And remove the automatic conversion of urlnames.

[2016-02-25 10:31] tvdeyen commented on #939
Thanks for reporting. Would you mind to send a pull request, since you already know the fix? Thanks

[2016-02-25 20:24] maxtedford commented on #942
Thanks for offering up a few possible solutions! Would you like me to make the changes you're suggesting and submit a pull request, or do you plan to continue the discussion and make the updates on your side?

[2016-02-25 20:48] tvdeyen commented on #942
Please, give it a try, if you like.

Let me summarize. We need to:

* Use the `Alchemy::RoutingConstraints::LOCALE_REGEXP` as format validation in `vaildates :urlname`
* We only validate `:urlname` if `Language.published.count > 1` and `language_code != ::I18n.default_locale.to_s`

That's exactly what Alchemy does in the `PagesController`

What still needs to be done is change the routing. Current

[2016-03-04 07:59] afdev82 commented on #899
I fixed the tests.

[2016-03-11 16:01] tumayun opened #945 "Spree demo 404"
![image](https://cloud.githubusercontent.com/assets/1154724/13707618/7a4bb6ce-e7e5-11e5-9905-bb6c374a9168.png)

[2016-03-16 15:26] maxtedford commented on #942
After some discussion internally, we've decided to move forward with a three-character urlname, so I won't be submitting a PR for this. It could be nice functionality for others, though, if you decide it's worth pursuing.

[2016-03-16 15:40] maxtedford opened #947 "Requiring Decorators for AlchemyCMS Model Extension"
I'd be very interested in extending some of Alchemy's built-in models via Rails's decorator pattern, but because Rails's autoloading system doesn't kick in and recognize them itself, they'd need to be required in Alchemy's engine.rb. The Rails Guides discuss this further [here](http://edgeguides.rubyonrails.org/engines.html#overriding-models-and-controllers). I believe it would be as easy as inclu

[2016-03-16 16:59] #942 closed

[2016-03-17 10:58] tomg65 opened #949 "alchemy datepicker shows wrong weeknumber (german locale)"
![kalender](https://cloud.githubusercontent.com/assets/1193626/13843277/f12e2604-ec32-11e5-9205-b9409f5a8a97.png)

In Germany the first week began at jan 4th.
Set firstDay to 1 fixes this.
Made a pull request. #948

Regards

[2016-03-17 18:29] tvdeyen commented on #945
Yes, the demo needs to be reseted. But you can enter the admin https://spree.alchemy-cms.com/admin

**A word of warning, though:** This demo use a outdated version of Spree and Alchemy.

[2016-03-17 18:30] #945 closed

[2016-03-17 18:39] tvdeyen commented on #947
If you add this `config.to_prepare` block into your `application.rb` file, everything should work fine.
This is how we do this in our apps and it works.

BTW: I don't like this "pattern" and "the decorator pattern" is [something completely different](https://robots.thoughtbot.com/evaluating-alternative-decorator-implementations-in) and should be solved with things like Ruby's build in `SimpleDeleg

[2016-03-17 18:39] #947 closed

[2016-03-17 20:04] maxtedford commented on #947
Fair enough, thanks for the input. I agree that the decorator pattern they describe in the rails guides isn't the one supported by SimpleDelegator in Ruby. I just figured using the same word-choice as the guides would help as I described the new issue for you.

[2016-03-17 21:09] sintro commented on #920
I have error `undefined method `parameterize' for nil:NilClass` when I am clicking on "Layoutroot for [my language]" link in main page of admin menu. This page appeared there after making alchemy:db:seed and obviously it should be hidden there (as I can understand, it is "global page" as it has "layoutpage" = true in database, and have no "page_layout" text. Also, I though in this case the Alchemy

[2016-03-18 16:36] tvdeyen commented on #920
Wow @sintro that shouldn't happen at all. "Layoutroot for Russian" is a hidden page, that never should show up anywhere. Could you please show us your `page_layouts.yml` file? Thanks

[2016-03-19 13:10] sintro commented on #920
Sure, this is it
``
# == This file defines the page layouts for new pages.
#
# For further informations please see http://guides.alchemy-cms.com/create_page_layouts.html

- name: index
  unique: true
  elements: [article]
  autogenerate: [article]

``
I didn't customize anything, just generated alchemy application using `alchemy new YOUR_APP_NAME --database=postgresql`
I also had to make `rails g

[2016-03-19 13:22] sintro commented on #920
For some reason `alchemy` command in Terminal is very slow for any operation: --help, new, or anything else. After I type `alchemy [command]` I have to wait for about 1 minute for response.
I am using OS X, rails is working absolutely fine, spring works OK also with rails, but it is something strange with alchemy...

[2016-03-19 14:16] sintro opened #953 "Very slow alchemy command performance"
For some reason alchemy command in Terminal is very slow for any operation: --help, new, or anything else. After I type alchemy [command] I have to wait for about 1-2 minutes for response.
I am using OS X, rails is working absolutely fine, spring works OK also with rails, but it is something strange with alchemy (3.2.0)...

[2016-03-21 12:34] nielspetersen opened #958 "Get page layouts by attributes returns empty hash"
While I was experimenting with the `alchemy-pg_search`-Gem I've realized that the method `Alchemy::PageLayout.get_all_by_attributes(attributes)` does not return a hash with all page layouts fullfill the given attributes, e.g. `cache: true` or `searchresults: true`.

My `page_layouts.yml`:

[code]
calling `Alchemy::PageLayout.get_all_by_attributes(unique: true)` return an empty Hash (`[]`).

I've f

[2016-03-21 12:53] tvdeyen commented on #958
Thanks. Please send a pull request.

[2016-03-22 00:01] tvdeyen commented on #939
@travisp please try latest master

[2016-03-22 00:02] tvdeyen commented on #958
Closed via #959

[2016-03-22 00:02] #958 closed

[2016-03-25 07:39] ayb opened #963 "sass-rails version dependency for Rails 4.2.6"
Rails 4.2.6 defaults to using sass-rails ~> 5.0

alchemy_cms depends on sass-rails ~> 4.0.2

[2016-03-25 09:16] tvdeyen commented on #963
What Alchemy version are you using? The current master works with current versions of sass-rails

[2016-03-25 09:22] tvdeyen commented on #963
Even the current stable 4.2 version of Alchemy works perfect with current versions of sass-rails. Please update your gems. Closing this, since this is not an issue with alchemy. Feel free to open again, if you have more informations for us.

[2016-03-25 09:22] #963 closed

[2016-03-31 20:07] #949 closed

[2016-03-31 21:44] #929 closed

[2016-03-31 21:45] #858 closed

[2016-04-01 23:09] tvdeyen opened #968 "Preview content of nested elements should only be used if parent element has no preview content"
In #946 we introduced preview texts from nested elements.

There is one issue with the current implementation:

The preview contents from nested elements will always have precedence over contents from parent element. But we want the preview contents from the parent element to have precedence over the nested elements. Only if the parent has no preview content, then we take the preview content from

[2016-04-01 23:12] tvdeyen commented on #928
@robinboening as we want to release 3.3 soon, it would be great if we could get the fix in. Do you need help with the tests?

[2016-04-02 12:20] robinboening commented on #928
I looked into it again today and saw I have to add the same implementation on the API as well. Also added tests for both.

[2016-04-03 09:49] #928 closed

[2016-04-04 07:20] tvdeyen commented on #953
Yes, this needs some deeper investigating. Meanwhile please use:

[code]

Thanks

[2016-04-04 19:16] #968 closed

[2016-04-11 09:16] #831 closed

[2016-04-12 10:30] tvdeyen commented on #899
@afdev82 thanks!

[2016-04-12 10:35] tvdeyen commented on #953
I just tried to reproduce in a clean gem environment:

[code]

@sintro could you please try again with a clean gem env? Thanks.

[2016-04-14 09:51] zer0flag opened #976 "All textareas always have height: auto"
This commit (https://github.com/AlchemyCMS/alchemy_cms/commit/cdd89007dfc3cb0bd20363cf9357b6d1aeb25df1#diff-dec29f00672ec34c62cac34ac06993bcR28) overrides all textareas with !important which results in a very small source code editor:

<img width="1042" alt="bildschirmfoto 2016-04-14 um 11 50 12" src="https://cloud.githubusercontent.com/assets/8490/14524108/1ff5bfb4-0237-11e6-9f5b-98a2830a9b36.png

[2016-04-19 19:21] #899 closed

[2016-04-19 19:23] tvdeyen commented on #836
Handled by #923

[2016-04-19 19:23] #836 closed

[2016-04-19 20:39] #976 closed

[2016-04-21 17:59] travisp opened #985 "Problems installing alchemy_cms 3.2.1 or 3.3.0rc1"
I intermittently see the following error on heroku:

[code]

or

[code]

It seems for some reason that alchemy_cms is trying to install some of its package outside of its gem directory

[2016-04-21 20:46] Lastbastian commented on #867
The saved me.  I made the exact same mistake and borked the whole Alchemy CMS site.  Thanks!!

[2016-04-21 21:01] tvdeyen commented on #867
FYI: The generator was fixed in https://github.com/AlchemyCMS/alchemy_cms/commit/c2e13adeccc5c51c906e429469dc975ff06ea2d1

[2016-04-21 21:23] tvdeyen commented on #985
Just installed it successfully on my local machine.

Could you tell us a little bit more about your environment?

[2016-04-25 10:32] moritzps opened #987 "Uploading and adding a new image to an image gallery does not work"
As a backend user I add an element with an **image gallery** to my page. If I select an existing image from Alchemys image library everything works as expected.

**But if I decide to upload a new image** inside the image selection process and select this image the image does not get added correctly to the image gallery element.
See the screencast to better understand the issue: http://i.moritzscho

[2016-04-25 23:10] ajoneil commented on #985
This is an issue with rubygems 2.5.1. It's fixed in later versions, but Heroku only allows you to use rubygems 2.5.1 with ruby 2.3.0.

[2016-04-25 23:11] ajoneil commented on #985
Bug report is here: https://github.com/rubygems/rubygems/issues/1448

[2016-04-26 05:32] tvdeyen commented on #985
Thanks

[2016-04-26 05:32] #985 closed

[2016-04-26 10:11] #987 closed

[2016-04-27 22:22] tvdeyen commented on #793
Will land in 3.4 see #990

[2016-04-28 20:59] tvdeyen opened #991 "Moving nested elements does not touch parent element"
Moving nested elements around via dragndrop does not update the cache key of the parent element and therefore the position of the nested elements stays the same until the parent element's cache gets invalid.

[2016-04-29 09:04] tvdeyen opened #994 "Moving nested elements does not update parent element preview text"
This seems to be "only" a JS issue, because the preview text has changed (after reload it appears correctly).

[2016-04-29 19:37] tvdeyen opened #995 "Updating a page status breaks page tree layout"
In the page tree open a configure page overlay, change the status to "visible", hit save. Layout of page tree is broken, because the `configure.js` response replaces the node with the handlebars partial w/o parsing it.

[2016-05-03 16:03] #991 closed

[2016-05-04 21:19] tvdeyen opened #998 "Deleting page from page tree fails"
Trying to remove a page from the page tree fails with:

![alchemy cms - seiten 2016-05-04 23-17-07](https://cloud.githubusercontent.com/assets/42868/15029572/6ef8931c-124e-11e6-94cf-96f67904ed99.jpg)

[code]

After refresh the page is removed, though. This seems to be "only" a GUI failure.

[2016-05-09 18:12] schneems commented on #985
Heroku uses the release of RubyGems that is bundled with Ruby. The release cycle for Ruby is REAAAAAALY slow. Can we figure out why only this gem sees this error and fix it? Since the release of 2.3.1 this is the only gem that I've seen that fails due to this bug. If we can't find a workaround it could be months before another minor release of MRI.

[2016-05-09 18:30] tvdeyen commented on #985
Shure. How can we reproduce this in other envs besides Heroku? I successfully installed it locally on my machine and I really don't see why it should try to install files outside of its gem path. We have some symlinks into the bundled dummy app. Maybe those causing issues under certain circumstances?

"Could you provide an example app?" Sorry, I just had to 😅

[2016-05-09 18:39] tvdeyen commented on #985
So, as I understand from the linked rubygems issue above we have to yank those versions and repack the gem with Ruby 2.2? Is this correct @scheems?

[2016-05-09 19:00] schneems commented on #985
I have very definite opinions on yanking 😉 . I don't think we should ever yank for anything other than something that can actively harm a system while running like `rm -rf` accidentally in the code. In this case I would release a "bugfix" version like 3.2.2 or whatever the next patchlevel is.

Looks like symlinks in that attached issue. Are there symlinks in this project?

I don't fully understand

[2016-05-09 20:04] tvdeyen commented on #985
Thanks @schneems ! As always great work, you're an inspiration and a well deserved Ruby hero!

For the record: I updated the `gemspec` to the latest bundler gem template and removed the `test_files` from it. The symlinks shouldn't be included anymore. Will release 3.3.0.rc2 soon.

🍰

[2016-05-10 01:14] #994 closed

[2016-05-10 08:29] tvdeyen opened #1004 "File archive is missing the search field"
![alchemy cms - dateien 2016-05-10 10-28-43](https://cloud.githubusercontent.com/assets/42868/15140132/14395254-169a-11e6-9914-8b38ae24e5eb.jpg)

[2016-05-10 12:57] #995 closed

[2016-05-10 13:14] tvdeyen commented on #985
@travisp I just released 3.3.0.rc2. Please test. Thanks

/c @schneems

[2016-05-10 21:10] #1004 closed

[2016-05-12 13:35] #998 closed

[2016-05-14 21:59] mtomov opened #1010 "Turbolinks 5.0"
Hello,

Do you think we can relax the dependency on Turbolinks from the [current](https://github.com/AlchemyCMS/alchemy_cms/blob/master/alchemy_cms.gemspec#L44) `~> 2.5`  to something like `~> 2`, to allow people to use the all new and shiny [Turbolinks 5.0](https://github.com/turbolinks/turbolinks).

I can submit a PR if you agree on that.

Thank you.

[2016-05-14 22:51] tvdeyen commented on #1010
Sure. Thing is, we use Turbolinks in the admin, so let's hope that don't break things.

But we can use the Teatro stage created automatically for each PR, so we can test manually then.

Go for it.

[2016-05-17 16:11] tvdeyen opened #1014 ""Redirect to public child" for index pages should redirect"
[Currently we render the first public child](https://github.com/AlchemyCMS/alchemy_cms/blob/master/app/controllers/alchemy/pages_controller.rb#L90) page we found if `redirect_to_public_child` is active.

In order to avoid "duplicate content" we should redirect to that page instead of simply rendering it.

[2016-05-17 20:43] tvdeyen opened #1017 "NameError uninitialized constant HTML"
* Rails 4.2.6
* `alchemy_cms` 7bbb50da7cf84d3ced248fe8ff36f1c5da81f243

Fresh install, creating default language tree:

[code]

[2016-05-18 13:46] #1017 closed

[2016-05-18 14:54] tvdeyen commented on #939
#1011

[2016-05-18 14:57] tvdeyen commented on #953
Even with latest 3.3.0.rc2 I get:

[code]

[2016-05-18 14:57] #953 closed

[2016-05-18 15:11] tvdeyen commented on #846
@IngoAlbers this should be fixed with 3.3.0 (current master as time of writing), because we switched to Ransack (and I assume Ransack handles this correctly). Closing this, feel free to re-open if this is still a problem.

[2016-05-18 15:11] #846 closed

[2016-05-19 10:58] mtylty commented on #848
I've used this for the Italian translations right now: http://blog.kiskolabs.com/post/908453942/comparing-rails-locale-files-for-missing

I don't know which file takes precedence but I it's the German one as there are some keys that made sense to me in German that were not in the English one. @tvdeyen, @mamhoff can you confirm this?

[2016-05-19 12:56] tvdeyen commented on #848
@mtylty it's the German one.

[2016-05-19 12:57] tvdeyen commented on #848
@mtylty there is also http://glebm.github.io/i18n-tasks/

[2016-05-19 12:58] tvdeyen commented on #848
Like @mamhoff already mentioned above 🙊

[2016-05-23 19:34] tvdeyen opened #1022 "Remove auto-magically merging of ::Ability classes"
We auto-magically merge `::Ability` classes https://github.com/AlchemyCMS/alchemy_cms/blob/master/lib/alchemy/controller_actions.rb#L71-L73

In order to be more explicit and less magical we should remove this.

[2016-05-23 20:33] #1022 closed

[2016-05-25 11:12] rbjoern84 opened #1026 "Confusing note about picture usage in elements#zoom when element is trashed"
**Problem**

When you go to pictures#zoom and look at the elements the picture is assigned in you will see no difference between available elements and trashed elements. The screenshot shows a trashed element:

![bildschirmfoto 2016-05-25 um 13 00 52](https://cloud.githubusercontent.com/assets/7871259/15538097/5f9c9a30-227a-11e6-9207-ac40e6584f75.png)

This is confusing because when you click on a

[2016-05-25 11:17] tvdeyen commented on #1026
1. Easy
2. Extremely complicated

What about:

Only not trashed elements count as assignments? And pictures should be deletable if assigned to trashed elements.

[2016-05-25 11:22] rbjoern84 commented on #1026
If someone moves the trashed element back to the page the picture is not there anymore. In this case moving it back from the trash does not really make sense anymore.

[2016-05-25 18:35] Brantron opened #1029 "Optional EssenceDate"
It appears currently that not selecting a date returns an invalid date error. Is this an issue in my implementation? If not, is there a reasoning for this or would a PR be prudent?

[2016-05-26 15:45] tvdeyen commented on #1029
I can't reproduce this. Could you please provide more information?

[2016-05-26 19:08] #729 closed

[2016-05-27 19:05] metaskills opened #1037 "Replace Compass with Bourbon"
At work we really rely on using Sass frameworks that are compatible with SassC and hence [SassC::Rails](https://github.com/sass/sassc-rails). Because alchemy uses SassyButtons & Compass, we can't use the super fast Sass pre-processor. Would y'all be open to a pull request that changed this for the next major release and moved to something like Bourbon?

If so, would love to work on a pull request.

[2016-05-27 21:55] tvdeyen commented on #1037
Yes, this would be great.

Removing the `sassy-buttons` dependency should be easy. Just copy over the resulting css and rewrite it with some useful sass mixins.

We don't use much of compass features anyway, so I think we could remove its dependency even without replacing it with another. Regarding the vendor prefixes we could use `autoprefixer-rails`.

Thanks for your offer. Looking forward to yo

[2016-05-28 00:55] metaskills commented on #1037
I did a quick look over the code and I think most of the compass mixins you use now do not even require prefixes anymore. The exception being the transition ones which in my experience Bourbon does really well.

I have never used autoprefixer-rails before and I do not see any major concerns with switching to that other than it would add another processor to the pipeline where a simple Sass lib wou

[2016-05-28 07:22] tvdeyen commented on #1037
Sure. Please keep in mind though, that we plan to overhaul the backend in 4.0 and with that will use a css framework, most likely bootstrap or foundation. I saw bourbon also has a UI and grid framework, that's great, but we don't want to lock in right know.

I think bourbon as compass replacement is a great start. So, go ahead. Thanks again!

[2016-05-28 19:18] metaskills commented on #1037
Noted! Do you have any advice on how to QA the admin when developing? I could not find anything in the contributing guide? I noticed there is a config.ru in the test dummy app. In some of my own engines I have hooked the dummy app up for local development. Do we have something similar here? TIA!

[2016-05-28 19:27] tvdeyen commented on #1037
Yes. The dummy app in `spec/dummy` is a set up as fully functional sandbox to develop in.

So just clone the repo, go into `spec/dummy`, `bundle install`, `rake db:setup` and `rails server` you go.

[2016-06-06 09:07] adamcarlile opened #1047 "Unable to find site, after deleting currently selected site"
**Summary**
When using multiple sites, deleting the currently active one will result in an ActiveRecord::RecordNotFound exception. I suspect due to the session still having a reference to the current (now deleted) site, one possible fix would be to attempt to find the site specified in the session, and then reset it to default if it's unable to be found

**Steps to Reproduce**
1. Create another si

[2016-06-08 16:04] #850 closed

[2016-06-09 14:11] metaskills commented on #1037
Closing in favor of the #1052 pull request.

[2016-06-09 14:11] #1037 closed

[2016-06-13 10:33] m43nu opened #1056 "Cannot choose an element from the dropdown (nestable-elements) when the page has cells"
AlchemyCMS Version: 3.3.0
Rails Version: 4.2.6

Steps to reproduce:
- create a page-layout with cells and an element with nestable-elements
- edit the page and add the element
- try to add an nestable-element on the created element
Expectation:
- The dropdown has all available nestable-elements to choose from in it
Current state:
- The dropdown is empty, or displays only elements which are as well

[2016-06-13 10:45] tvdeyen commented on #1056
Fixed in https://github.com/AlchemyCMS/alchemy_cms/pull/1039

[2016-06-13 10:46] m43nu commented on #1056
@tvdeyen sorry didn't saw this issue. Thanks and closed!

[2016-06-13 11:22] tvdeyen commented on #1056
@m43nu the issue is actual valid. The PR fixes this issue. So I reopen

[2016-06-20 07:59] m43nu opened #1066 "Copying language tree errors with "RecordInvalid""
AlchemyCMS Version: 3.3.0
Rails Version: 4.2.6

I'm trying to copy our main language tree for a new language and it breaks after a few pages and states:
`ActiveRecord::RecordInvalid Validierung von URL-Name ist bereits vergeben. ist fehlgeschlagen.`
![error](https://cloud.githubusercontent.com/assets/2545317/16186261/c4f4b648-36c9-11e6-8f6a-6d27acce7deb.png)

I checked where in the tree the copyin

[2016-06-20 09:27] tvdeyen commented on #1066
@m43nu can you please confirm, that the bug does not exist in Alchemy 3.2 stable?

[2016-06-20 09:28] tvdeyen commented on #1056
Now that #1039 has been merged, this is considered solved.

[2016-06-20 09:28] #1056 closed

[2016-06-20 14:26] tvdeyen commented on #1047
Fixed with #1068

[2016-06-20 14:26] #1047 closed

[2016-06-21 11:35] m43nu commented on #1066
@tvdeyen The bug was present before the upgrade to 3.3 - one of the reasons why I upgraded.

[2016-06-22 16:12] tvdeyen commented on #1066
@m43nu ok. Is it possible to provide us with more information on how to reproduce. Maybe an example app? That would help us a lot. Thanks

[2016-06-22 16:32] tvdeyen commented on #739
Fixed via #1028

[2016-06-22 16:32] #739 closed

[2016-06-22 16:33] #793 closed

[2016-06-23 07:11] afdev82 commented on #739
The problem here wasn't the ControllerActions itself, but the need to use both the Alchemy abilities and my abilities with aliased actions.
Could I rename the issue?
I opened the issue https://github.com/CanCanCommunity/cancancan/issues/280, but no answer till today.

[2016-06-23 09:54] wdspkr opened #1071 "Alchemy should use the dragonfly middleware"
There is a lot of logic that Alchemy provides to render assets that might not be needed anymore. If we used the dragonfly middleware, we might be able to simplify things and even get a simple solution to the much requested feature of being able to store the assets in a remote location like S3.

**Basic behaviour:**
As far as I understand Alchemy manually caches the assets in the datastore. If we u

[2016-06-29 08:11] #1014 closed

[2016-06-30 14:26] afdev82 commented on #1066
We had the same problem few days ago, but as @m43nu said, it's difficult to reproduce. It happened only with the production data.

Maybe there are any "ghosts" in the database?

I think so too, because I had to delete one page manually too.

[2016-06-30 14:41] m43nu commented on #1066
@afdev82 As far as I've seen the last time I tried it, it seems to have to do with the legacy-page-urls. I will invest another 2 hours tomorrow to find it...

@tvdeyen The only way I can give you the chance to reproduce it, would be a sql-dump of the database...

[2016-06-30 14:50] afdev82 commented on #1066
Every time after a failing copy I reset the primary key of the alchemy_pages table (to have the ids without "holes") and it was always failing.
Then I didn't reset them and the copy was ok.
So I left in this way.

[2016-07-06 18:58] tvdeyen commented on #939
Compass was removed and replaced with Bourbon. So this isn't an issue anymore.

[2016-07-06 18:58] #939 closed

[2016-07-06 19:01] #826 closed

[2016-07-06 19:03] tvdeyen commented on #719
Stale. Closing

[2016-07-06 19:03] #719 closed

[2016-07-09 07:10] robinboening commented on #1071
That sounds great. I think I've seen a screenshot of @tvdeyen working on the implementation.

[2016-07-12 18:23] robinboening opened #1081 "Site bootstrapping / Better support for developers when using Sites"
Months ago I started working on a gem for bootstrapping the development with Sites in host apps. The goal was to implement:
- An easy and more advanced Site creation generator
- Define a simple and logical convention for CSS/Javascript structuring
- Separate compiling of CSS/Javascripts per Site (to only deliver the css/js code that is needed for a particular site)

I talked to @tvdeyen and @mamho

[2016-07-12 19:32] tvdeyen commented on #1081
👍

[2016-07-13 02:42] ducdiepco opened #1082 "Sass error can't load the site"
I just did a fresh install and start the server then getting this error

Sass::SyntaxError in Alchemy::Pages#index

Undefined mixin 'transition'.

Look like I miss some configs with sass or compass . Please help me Thanks

[2016-07-13 05:31] tvdeyen commented on #1082
That's our fault. We recently changed the CSS framework from Compass to Bourbon.

Could you please paste the error with a backtrack and the contents of your `Gemfile.lock` in here or via a Gist. This would help us to identify the problem.

Thanks for reporting.

[2016-07-13 09:35] tvdeyen commented on #1071
@robinboening yes, indeed.

[2016-07-13 15:03] ducdiepco commented on #1082
Here the full trace
<script src="https://gist.github.com/ducdiepco/d90467509923b6db992c58cd4090f994.js"></script>

Gemfile.lock
<script src="https://gist.github.com/ducdiepco/d63a410505c56b856f9e7ea5ecf1137d.js"></script>

[2016-07-13 16:21] tvdeyen commented on #1082
Ok, thanks @ducdiepco

This confirms, that #1083 fixes this issue, great.

[2016-07-13 16:22] #1082 closed

[2016-07-13 16:23] tvdeyen commented on #1082
@ducdiepco please update to latest master and this should be fixed

[2016-07-14 14:32] adamcarlile commented on #1081
Hey Guys,

We're currently using Alchemy quite heavily, and we've come up with a pattern to register sites and their associated extensions/presenters against a site definition, and load those in preference, or fallback to using the project defaults.

https://github.com/SohoHouse/author-sites

It might not be useful, but it might be worth looking at if you're interested. Also thanks for the great p

[2016-07-18 08:44] wdspkr opened #1085 "There is no initially_published_at time stamp on page"
In the `Page` model there is a `before_save` hook to set the `published_at` time only when it has not been set before: [models/alchemy/page.rb#L117](https://github.com/AlchemyCMS/alchemy_cms/blob/master/app/models/alchemy/page.rb#L117)
This would store the time at which the page has been initially published... IF it weren't for [these lines](https://github.com/AlchemyCMS/alchemy_cms/blob/master/ap

[2016-07-18 08:52] wdspkr commented on #772
Not sure about this. `page_layout` is more explicit and actually denotes the things that are inside. Consistency is a good thing, but Alchemy should also be easy to understand to help getting adopted more widely.

[2016-07-18 09:12] tvdeyen commented on #1085
We talked IRL and I say 👍

[2016-07-18 12:26] tvdeyen commented on #1085
The preferred solution is 2.), but I think the name of the column should be called `first_published_at`

![monosnap 2016-07-18 14-25-46](https://cloud.githubusercontent.com/assets/42868/16914657/8de673f4-4cf3-11e6-885c-20410c8e1bfc.jpg)

And, we could use https://github.com/AlchemyCMS/alchemy_cms/blob/master/app/models/alchemy/page.rb#L117 for it.

[2016-07-18 12:37] tvdeyen commented on #772
As this is actually not an issue I will close this for now. Feel free to came up with a pull request, but I ack what @wdspkr said.

[2016-07-18 12:37] #772 closed

[2016-07-21 18:10] tvdeyen commented on #1085
#1086 was merged

[2016-07-21 18:10] #1085 closed

[2016-08-03 15:35] shushugah opened #1096 "Validation of EssenceFile presence:true is not reflected in front end."
When I added presence: true to an EssenceFile in

[code]
it prevents it from being saved in the back end (which is good), but it doesn't prevent rest of my element from being uploaded.

Enclosed screenshot shows EssenceFile object returned `false` on being saved. And 2nd shows the wrongly uploaded element in UI admin bar
![screen shot 2016-08-03 at 17 29 30](https://cloud.githubusercontent.com/ass

[2016-08-04 06:45] IngoAlbers opened #1097 "NoMethodError undefined method 'to_sym' for #<Language:0x007fc93bfc4ac0> in admin interface"
I get this error, when I go to the admin interface. It is caused by `user_has_preferred_language?` here: https://github.com/AlchemyCMS/alchemy_cms/blob/master/lib/alchemy/admin/locale.rb#L54.

The problem is that in my `User` model I have a `belongs_to :language` relation, which will return an instance of a `Language` instead of the expected locale `String` or `Symbol`.

We probably should not ass

[2016-08-05 09:25] #1097 closed

[2016-08-18 12:47] robinboening commented on #1081
Thanks for the note @adamcarlile !

I am curious about what you are doing with Alchemy at SohoHouse. Would you mind talking about it in private?

Thank you!
Robin

[2016-08-19 08:30] jbach commented on #635
@tvdeyen This still seems to be an issue with `nestable_elements`, right?

[code]

This does not work, I guess because the tinymce configuration is not being passed in `page.element_definitions` [here](https://github.com/AlchemyCMS/alchemy_cms/blob/master/lib/alchemy/tinymce.rb#L37)?

[2016-08-19 19:26] tvdeyen commented on #635
@jbach yes. But this should be an easy fix. PR anyone?

[2016-08-24 13:43] adamcarlile commented on #1081
Hey @robinboening, sure, you can get me on email at: adam.carlile@sohohouse.com

Cheers
Adam

[2016-08-25 12:20] rbjoern84 opened #1111 "Custom Tinymce settings in elements.yml don't affect nested elements."
When I set custom Tinymce settings on an element, like `toolbar: "bold | alchemy_link unlink | table"`, this will only affect first level elements, but not nested ones.

[2016-08-25 12:21] robinboening commented on #1111
I can confirm that issue. Will have a look at it and report back.

[2016-08-25 12:30] rbjoern84 commented on #1111
Wait, I recently found out, that it only doesn't affect the nested elements, when the parent element was already created. So creating a new parent element with a nested element solved the issue. May this could be improved, so that you don't need to recreate all the elements (at least the parent one) to get this working (if possible anyway).

[2016-08-25 17:16] tvdeyen commented on #1111
Yes. This is because the custom tinymce settings are only read from first level elements at https://github.com/AlchemyCMS/alchemy_cms/blob/master/lib/alchemy/tinymce.rb#L37

[2016-08-26 07:51] matDobek opened #1114 "FileEssence view is not using html_options"
### Description
Noticed that rendering [_essence_file_view](https://github.com/AlchemyCMS/alchemy_cms/blob/3.3-stable/app/views/alchemy/essences/_essence_file_view.html.erb) is not merging `html_options` hash.

Wondering if we could fix this, in similar manner as in [_essence_text_view](https://github.com/AlchemyCMS/alchemy_cms/blob/3.3-stable/app/views/alchemy/essences/_essence_text_view.html.erb

[2016-08-26 10:13] tvdeyen commented on #1114
This is legit and should be fixed. Thanks for reporting this issue, especially the great description. Keep up this good open source contributions. This is very much appreciated.

[2016-08-26 10:17] tvdeyen commented on #1114
Merged into 3.3-stable

[2016-08-26 10:17] #1114 closed

[2016-09-09 09:32] #1096 closed

[2016-09-13 20:33] robinboening opened #1130 "Upgrader should mention the change of fixed_ratio option"
I just upgraded an older Alchemy project and ran into this error:

[code]

In the following commit the public API of Alchemy was changed. (The `fixed_ratio` option changed from formerly being used as a boolean to now being used as a number)
https://github.com/AlchemyCMS/alchemy_cms/commit/4a16ada822d70ced03932d04d7bd10c45083e629

We need to provide a note in the Upgrader for that change.

[2016-09-14 06:27] tvdeyen commented on #1130
Hmm, strange indeed. Can't even remember why this was even changed? Maybe @mamhoff can remember?

This is on v3.1. Yes, we should add a CHANGELOG and mention it in the upgrade notes.

PR anyone?

[2016-09-16 15:21] afdev82 commented on #1066
I think I found the problem.
I had missing references to pages, essences, elements in the db.
For eg. I found that sometimes there are still pages in the db after deleting the language tree, then I have to delete manually the page from the table and there are still elements that are referred to the old page.
The db is missing a very important feature that is the foreign key constraints and IMHO we

[2016-09-16 15:26] tvdeyen commented on #1066
Absolutely 👍

Would you mind to send a PR? Would be very appreciated.

Thanks for reporting back!

[2016-09-19 08:40] afdev82 commented on #1066
See https://github.com/AlchemyCMS/alchemy_cms/pull/1133

[2016-09-20 10:36] rbjoern84 opened #1134 "Internal links: Meaningful element titles instead of IDs"
![bildschirmfoto 2016-09-20 um 12 25 55](https://cloud.githubusercontent.com/assets/7871259/18666845/4112bffc-7f2e-11e6-9b04-dd3152ec7668.png)

This select of page elements for an internal anchor could be much more meaningful. It would be nice to show the element titles instead of the IDs, so that the user is able to link the right one.

[2016-09-20 11:08] robinboening opened #1136 "Enable external gems to add configuration to Alchemy"
I pick up the discussion from https://github.com/AlchemyCMS/alchemy-devise/issues/51 to continue the conversation in a separate thread.

Quoting myself:

Quoting @tvdeyen

[2016-09-20 14:10] tvdeyen commented on #1134
This is a different feature. Here we parse the current page for all IDs found on it. Not only from elements, all IDs of all html elements.

The feature you want is at the little element icon beneath each page in the tree above:

![alchemy cms - home 2016-09-20 16-09-57](https://cloud.githubusercontent.com/assets/42868/18673614/b9d54770-7f4c-11e6-98a3-1b1beb309ed9.jpg)

I see, that this seems to be

[2016-09-20 14:15] #1134 closed

[2016-09-22 16:11] chrisdpeters opened #1138 "Error when trying to load file browser in admin"
I'm running the master branch (commit d7a77b285eba7ec54b39ae15369f1a8d78616ef9), and I get this error when trying to go to the Library section or when trying to "edit" an existing image in the editor.

[code]

As far as I know, I've done everything I need to do with `rake alchemy:upgrade`, etc. Is there anything else I can do to help debug this?

[2016-09-22 17:42] tvdeyen commented on #1138
`image_file_format` is `nil`. Please try `bin/rake alchemy:upgrade:fix_picture_format`

[2016-09-24 16:54] chrisdpeters commented on #1138
Thanks, @tvdeyen.

[2016-09-24 16:54] #1138 closed

[2016-09-29 05:30] tvdeyen commented on #1071
It's finally in. Will be shipped with 3.5

[2016-09-29 05:30] #1071 closed

[2016-09-30 12:28] #1010 closed

[2016-09-30 12:31] tvdeyen commented on #920
@sintro all of your bugs your mentioning are not related to this issue here. Please feel free to open individual issues for each of them. Closing this now, because the OP could not be reproduced. Please feel free to re-open, if this is still an issue with current version of Alchemy.

[2016-09-30 12:31] #920 closed

[2016-09-30 12:33] tvdeyen commented on #763
@blahutka sorry, we don't support Alchemy 3.2 anymore. Please consider updating to latest stable version v3.4 as the time of speaking. Closing this as this is stale for nearly one year know. Please open a new issue, if this error is still present in recent versions of Alchemy.

[2016-09-30 12:33] #763 closed

[2016-09-30 12:34] tvdeyen commented on #761
Closed as it's stale. Feel free to open a new issue, if this still a problem in recent versions of Alchemy.

[2016-09-30 12:34] #761 closed

[2016-09-30 12:35] tvdeyen commented on #1029
Closed as it's stale. Feel free to open a new issue, if this still a problem in recent versions of Alchemy.

[2016-09-30 12:35] #1029 closed

[2016-09-30 15:21] mamhoff commented on #1066
We've now merged #1149 and are thus more secure that there's database integrity. We hope that this will at least give you better hints as to what's corrupted about your database. Closing this issue for now. Please open again if you feel the need. :)

[2016-09-30 15:21] #1066 closed

[2016-10-03 21:01] robinboening opened #1151 "Upgrade TinyMCE"
Currently we have TinyMCE `4.2.3 (2015-07-30)` and the current available version is `4.4.3 (2016-09-01)` (at the time of writing). There are a lot of Bugfixes and new Features: https://www.tinymce.com/docs/changelog/

[2016-10-10 10:23] rbjoern84 opened #1156 "Creating a new element inside a cell doesn't work as long as the cell doesn't exist in the database."
This problem appears when I try to create a new element with a new cell on a page which already exists, but doesn't have the auto generated cell where I want to add this new element.

This cell and element is unique and auto generated and only works well when I create a new page.

Unfortunately there is no error occuring in the terminal, but a JS error in the inspector. May this has something to d

[2016-10-12 18:23] tvdeyen commented on #1156
The error seems unrelated. Without any stack trace this is really hard to debug, since I can't reproduce this and we [actually create cells on the fly](https://github.com/AlchemyCMS/alchemy_cms/blob/master/app/controllers/alchemy/admin/elements_controller.rb#L44). But since [this code handles many cases](https://github.com/AlchemyCMS/alchemy_cms/blob/master/app/controllers/alchemy/admin/elements_c

[2016-10-12 18:25] tvdeyen commented on #724
This is nearly two years old without any progress. Closing. Please send a PR if you want to see this done.

[2016-10-12 18:25] #724 closed

[2016-10-14 19:03] ryanjones opened #1158 "JS errors when previewing page and hitting 'Edit This Page'"
I've setup a vanilla install here, and when I create a page, preview it and then 'Edit This Page' from the Alchemy menu I end up with this:

![image](https://cloud.githubusercontent.com/assets/350391/19399356/5d545ce6-920e-11e6-81cf-b9d108f189dd.png)

What's weird though is that if I hit the browser back button it works fine. We don't use a lot of turbolinks, but maybe it's an issue there. Has any

[2016-10-14 19:22] tvdeyen commented on #1158
Looks like an issue with select2 or something select2 depends on. What also surprises me is how the UI looks.

Could you please show us your Gemfile.lock?

[2016-10-16 14:54] #1151 closed

[2016-10-19 15:05] ryanjones commented on #1158
Thanks for the quick reply @tvdeyen. Your question around the gemlock got me digging. It turns out that I had installed the foundation-rails gem. I thought it was a vanilla install, sorry about that.

I'll try and update this thread with some instructions on getting foundation up and running without breaking alchemy, but I don't think this issue needs to be open at this point.

[2016-10-19 15:28] ryanjones commented on #1158
@tvdeyen Alright, it only semi-fixed the problem. I believe I removed anything that could mess with the CSS and the JS at this point and I'm still getting the same behaviour.

Here's my Gemfile.lock:

[code]

application.js

[code]

application.css
[code]

[2016-10-20 15:09] Brantron opened #1161 "Scoped Admininstrators"
Hello,
One issue we're running into is a need for scoping admin rights to directories. Lets say we have a `Journalism` team and want them to have full privileges to anything that falls under `articles/`. Is this currently possible?

cc @maxtedford

[2016-10-20 15:16] tvdeyen commented on #1161
@Brantron please use our Slack to ask questions. This is not an issue in terms of a code bug, that's why I'm closing this now. No offence.

http://slack.alchemy-cms.com

[2016-10-20 15:16] #1161 closed

[2016-10-20 15:42] robinboening commented on #1161
@Brantron that is not possible right now. Even though you're not asking for it explicitly I see this not so much as a simple question, but more as a feature-request. I know that there is demand for that feature because you're not the first one asking for it.

If you want to come up with an implementation approach, lets talk. The technical implementation is not that hard I think, but the UX/UI is m

[2016-10-20 15:46] tvdeyen commented on #1161
@robinboening please join our discussion we already started on Slack.

[2016-10-30 01:26] robinboening opened #1173 "Unique elements can not but cutted/pasted back to the origin page"
A unique element can only be placed once on a page. When you "cut" this unique element from the page there is actually no backend process happening, its only removed from the Browser's DOM - that means you can not paste it back to the same page because its actually still there and can not be placed a second time.

My suggestion: In the moment the user clicks on the "cut" icon we remove the element

[2016-10-30 13:16] tvdeyen commented on #1173
Why should one want to cut and paste a element and the same page? Cut and paste between cells works. What actual use case are you taking about that I don't see right now? :)

The cut/copy and paste feature is not persisted like in all programs. Copy and paste is a RAM only feature in every app I know of. Since deleting an element is actual putting it into the trash I don't see any issue with this

[2016-10-30 17:38] robinboening commented on #1173
There are three arguments why I'd like to change it. I always liked the fact that the cutting happens only in the frontend and its actually not removed from the Page until I paste it somewhere. Technically its smart, but it has UX downsides that would confuse editors:

1.) As a user who cuts an element from the page I might notice it was a mistake and I actually need the element on that page after

[2016-10-30 20:14] tvdeyen commented on #1173
Hmm. Ok. Your proposal could work. But currently this means trashing it. Because that's what a trashed element is. It's removed from the list. A poor implementation of trash, I know, but that's how it works right now.

So we need consider to change this. Introduce `deleted_at` (without using acts as paranoid or siblings, because they introduce default scopes and default scopes are evil).

So, two

[2016-10-31 16:18] Salzig opened #1177 "alchemy module generator fails"
if you create a new Alchemy (v3.4.1) Application using the alchemy generator, the module generator fails.

# steps to reproduce
[code]

fails with

[code]

[2016-11-03 14:28] #1111 closed

[2016-11-04 22:10] ryanjones commented on #1158
I decided to start fresh and try with master. I'm still having the issue with the 'Edit This Page' button. I've tried in the latest Firefox and Chrome.

Replication steps:

1. clone git@github.com:ryanjones/waffles_cms.git
2. bundle install
3. bin/rake db:migrate
4. bin/rake alchemy:install ('n' to all conflicts)
5. bin/rails server
6. visit http://localhost:3000/admin and create a user
7. Create

[2016-11-05 21:49] IngoAlbers commented on #1158
I can confirm this behaviour using your sample setup and played around a bit. The problem is that the assets are not loaded when you click the link to edit the page and so then don't have the required admin js, etc. This is happening because turbolinks are active. Once I disabled turbolinks it worked fine.

Of course this is not the solution for the problem and I don't know if it is an issue with

[2016-11-06 10:43] tvdeyen commented on #1158
No, disabling Turbolinks is not an option. But opting out of Turbolinks in the menubar is definitely a good idea.

Thanks for pointing this one out @IngoAlbers.

Pull request welcome.

[2016-11-06 13:13] tvdeyen commented on #1177
Fixed and will be shipped with Alchemy 3.4.2

[2016-11-06 13:13] #1177 closed

[2016-11-07 09:34] #1158 closed

[2016-11-07 15:41] ryanjones commented on #1158
Fixed!

Is this a general 'rule' for turbolinks if you're completely swapping the layout? My initial thought was that because the layouts for both areas were drastically different, it was causing issues.

[2016-11-14 19:10] maxtedford commented on #942
Hello again! Would you all still be open to me possibly submitting a PR to address this issue?

[2016-11-15 07:09] robinboening commented on #942
Hey!

"Still be open"? Was there a discussion about that already? Can you point me to it?

maybe you know that: if you have a multilanguage site you will have the language code in the URL and that will interfere with a short page URL.

Since the developer can not control the admin in terms of creating new languages, I don't think it's a good idea without rethinking the bigger picture.

[2016-11-15 07:55] tvdeyen commented on #942
Yes, above ;)

So, @maxtedford I think you could give it a try, but I have to say that this is a real edge case and the work around would mean to query the database in the router for every request, because we need to check if `Alchemy::Site.languages.count > 1` and only then add the locale constraint.

I'm not very pleased with this. Any additional ideas? Make the language module optional, like @r

[2016-11-16 08:55] diei opened #1194 "Mobile navigation shows invisible pages"
We use AlchemyCMS 3.4.1 with Rails 4.2.7.1 and we have the problem that pages set to "not visible in navigation" are still displayed in the navigation if the responsive website switches to the mobile view. And if I click at that menu item, I get an error page as expected. The invisible page is not shown in the common navigation for big displays.

I have already tried to flush the page cache and re

[2016-11-16 09:03] tvdeyen commented on #1194
@diei since Alchemy does not provide any "mobile navigation" (Alchemy does not have any front end code, that's completely in your hands) this is not an issue with Alchemy itself.

Closing this now. Please don't see this as ignorance, please join the Slack to seek for help instead.

[2016-11-16 09:03] #1194 closed

[2016-11-16 09:34] diei commented on #1194
@tvdeyen thanks for the hint, I was not aware of that. I will seek in our code.

[2016-11-17 13:28] maxtedford commented on #942
Fair enough. It sounds like it's probably not worth the effort at this point, unless something changes with the underlying architecture in the near term.

[2016-11-17 14:43] tvdeyen opened #1196 "Tinymce configuration from deeply nested elements not respected"
The solution from b6d70f4c73faf5914a06e9a330b161f2932cb253 only respects nestable elements from element definitions of the first level.

If an element definition has nestable elements that also have nestable elements then the configuration is not respected.

[2016-11-24 17:25] #852 closed

[2017-01-13 17:51] hopewise opened #1226 "NoMethodError in Alchemy::PagesController#show"
I have installed version 3.50, rails 4.2.4, when I try to visit a published page, I get this error:

    undefined method `locale' for #<Alchemy::Language:0x007f86f6854948>

Please advice

[2017-01-26 05:27] ylluminarious opened #1232 "Alchemy doesn't seem to be reading an SCSS file for `article' element"
I generated a stock Alchemy project with `$ alchemy new project_name` and, among other things, it generated an `article` element with its own `article.scss` file under `app/assets/stylesheets/alchemy/elements`. I've applied some custom styles in this file to the element in question. Unfortunately, whenever I run the server and visit the page with said element on it, it seems that my styles are bei

[2017-01-27 15:03] bjorntheart opened #1233 "alchemy:install fails with 'capistrano-alchemy' error"
Hi

**Ruby version:** ruby 2.3.3p222 (2016-11-21 revision 56859) [x86_64-darwin14]

When I run `bin/rake alchemy:install` it fails with the following error:

`bin/rake alchemy:install
/Users/bjorn/.rvm/gems/ruby-2.3.3@alchemy_cms/gems/bundler-1.14.2/lib/bundler/runtime.rb:94:in rescue in block (2 levels) in require': There was an error while trying to load the gem 'capistrano-alchemy'.
Gem Load Er

[2017-01-27 17:56] tvdeyen commented on #1233
[code]
and then try again.

[2017-01-27 19:16] bjorntheart commented on #1233
@tvdeyen Unfortunately, that didn't work :( I get the same error

[2017-01-27 19:34] tvdeyen commented on #1233
Could you provide us your `Gemfile.lock`

[2017-01-28 13:49] bjorntheart commented on #1233
Sure. [Gemfile.txt](https://github.com/AlchemyCMS/alchemy_cms/files/736907/Gemfile.txt)

[2017-01-28 15:31] tvdeyen commented on #1233
Do you have `require: false` in your `Gemfile` for `capistrano-alchemy`? You need to have this, because otherwise not all dependencies from Capistrano are loaded.

[2017-01-29 13:58] bjorntheart commented on #1233
@tvdeyen Thanks! That did the trick.

[2017-01-29 13:58] #1233 closed

[2017-01-30 22:15] keksmampfer opened #1235 "Script Missing?"
Hello,

I am new to alchemy and can not setup a 3.5 project...
I am on Ubuntu 16 LTS with:

- Ruby 2.3.3
- Rails 4.2.6
- RVM 1.28.0

The files

 ~/.rvm/gems/ruby-2.3.3@alchemy/bin/alchemy (autogernerated)
~/.rvm/gems/ruby-2.3.3@alchemy/gems/alchemy_cms-3.5.0/bin/alchemy

are missing.

After downgrading to 3.4 the files are present.

[2017-01-30 22:26] keksmampfer commented on #1235
Okay it seems to be an expected behavior.
Commit: https://github.com/AlchemyCMS/alchemy_cms/commit/b68f18d53f2ad9f8718f3b6756ccc3299d8ccbe3

But every guide, page and also the[ project homepage setup guide](http://guides.alchemy-cms.com/3.4/getting_started.html) use the tool. [The new version of this guide for 3.5 does not exist.
](http://guides.alchemy-cms.com/3.5/getting_started.html)
Maybe you

[2017-01-31 21:42] gilgor opened #1237 "Cannot publish page directly from page tree view"
Setting status to _public_ via **Edit page properties** has no effect.
Pages were freshly created and properly closed/released from the tab view.

It works fine when opening the page in a tab and publish by pressing the button **Pubish page**.

![bildschirmfoto](https://cloud.githubusercontent.com/assets/6617198/22485471/23776682-e806-11e6-925a-58b512fee66a.png)

[2017-02-17 12:32] salzig opened #1241 "Changelog states 3.5.0 to be unreleased. Rubygems says it's released."
Changelog states 3.5.0 to be unreleased. Rubygems says it's released.

Is the changelog outdated, or the release unintended?

[2017-02-18 09:17] tvdeyen commented on #1241
The changelog is outdated.

[2017-02-18 09:17] #1241 closed

[2017-02-18 09:22] tvdeyen commented on #1237
That's intended. Pages shall only be published by pressing the "publish" button.

The publication date fields store the times the page is publicly accessible. The publish button is for deleting the current page cache and publish the actual content you see in the preview. That's why the publish button is only available in preview/edit mode. You want to see what you publish, right?

[2017-02-18 09:22] #1237 closed

[2017-02-18 09:25] tvdeyen commented on #1235
Yes. The binary was removed from 3.5. It doesn't really provide any value and was a maintenance burden for us.

Creating a new alchemy site is extremely easy. As you can read in the readme.

The guides are outdated, but they are also open source, so updating and sending a pull request should be no big deal.

[2017-02-18 09:25] #1235 closed

[2017-03-05 19:42] dznicol opened #1244 "Updated from 3.0 to 3.2 and getting "No route matches [GET] "/admin/dashboard""
Hi,

I am upgrading from Alchemy 3.2 to 3.4.2. When I try to log in to the admin portal I get:

`No route matches [GET] "/admin/dashboard`

I have Alchemy mounted as:

[code]

I go to `/content/admin` (which previously worked fine to access the admin portal) and I see a 301 redirect to `/admin/dashboard`

The CMS pages are rending fine using their previous URLs like `/content/partners`. This issue

[2017-03-06 08:14] tvdeyen commented on #1244
Do other routes like `/content/admin/pages` work?

[2017-03-06 20:43] dznicol commented on #1244
Hi Thomas,

The other routes look fine. Even `/content/admin/dashboard` works.

It seems the issue is isolated to the `/content/admin` redirect.

Thanks in advance,

David

[2017-03-07 17:46] gilgor opened #1245 "Datepicker in EssenceDate cannot consume localized date format"
`EssenceDate` should always provide the ISO-8601 time format for the datepicker, e.g. 2017-03-07. Otherwise `jquery.datetimepicker` cannot handle the localized date format (when using another locale than EN in the backend interface).

![screen shot 2017-03-07 at 17 41 52](https://cloud.githubusercontent.com/assets/6617198/23669118/72c9722a-0363-11e7-991a-b83e6534c51e.png)

We will have a closer lo

[2017-03-10 01:19] robinboening commented on #1245
I did some investigation on this and after two hours of debugging I found that this is not related to the jquery datepicker but to chrome!

This issue only appears when you are using a type `date` field. What happens is that google chrome creates its own datepicker when you have a type `date` field but complains if the date format is not as it expects it to be and doesn't fill in the given date -

[2017-03-10 09:48] robinboening commented on #1245
I came up with a proposal:

* Always render the input fields with type `text`
* On iOS we switch the attribute to the appropriate type (date/datetime/time)

PR: https://github.com/AlchemyCMS/alchemy_cms/pull/1246

[2017-03-12 11:22] dznicol commented on #1244
Is the solution maybe to re-introduce the mount point get method such as:

[code]

I haven't had a chance to try this (dependency issues), but I saw something similar in the `routes.rb` history from 2015.

[2017-03-13 10:02] phoet opened #1247 "images broken on alchemy-cms"
hi,

i was just looking at the alchemy-cms.com website and it looks like some of the images are broken, ie this one 404s

![broken image](https://alchemy-cms.com/pictures/84/show/480x320/crop/0x0/1312x874/Alchemy+CMS+-+About+2014-09-02+21-54-17+2014-09-02+21-54-35.png?sh=ff3e31d162b2cfba)

[2017-03-13 10:07] tvdeyen commented on #1247
Republished all pages. Should be working now. Thanks Peter!

[2017-03-13 10:07] #1247 closed

[2017-03-13 10:36] phoet commented on #1247
😽

[2017-03-23 09:10] rbjoern84 opened #1250 "Feature Request: New library filter "Not used""
An additional "Not used" filter would be nice to make deleting old pictures which are no longer used anywhere much more comfortable.

![bildschirmfoto 2017-03-23 um 10 05 33](https://cloud.githubusercontent.com/assets/7871259/24240045/9481a21c-0fb0-11e7-9e0e-c44dde0368cf.png)

[2017-03-29 10:22] rbjoern84 opened #1252 "Bug: <meta charset="utf8"> => "utf-8""
I recently ran the markup validator https://validator.w3.org and found this bug:

![bildschirmfoto 2017-03-29 um 12 18 15](https://cloud.githubusercontent.com/assets/7871259/24450204/536717de-147a-11e7-8066-dbb3b0620d9b.png)

[2017-04-06 10:25] mtomov opened #1254 "Page picker incorrect path when mounted on a non-root path"
[page_for_links](https://github.com/AlchemyCMS/alchemy_cms/blob/master/app/views/alchemy/admin/pages/_page_for_links.html.erb#L40) would only work if Alchemy is mounted on `/`:

[code]

The only thing, which sets `@url_prefix` is in [`Admin::PagesController`](https://github.com/AlchemyCMS/alchemy_cms/blob/8673e68c088feae79bf41fa07c2771778f170894/app/controllers/alchemy/admin/pages_controller.rb#L1

[2017-04-06 10:44] mtomov commented on #1226
maybe this?

[code]

[2017-04-06 10:46] mtomov commented on #1232
You should check your `application.scss` to include somehow the `article.scss` file.

I think this is not an Alchemy specific bug, but look out for info on "requiring sass files" or "requiring css sprocket files"

[2017-04-06 13:16] ylluminarious commented on #1232
@mtomov Yes, I ended up doing something like that. However, Alchemy should probably have done such a thing out of the box so that the Alchemy styles "just worked" without having to putz around with requiring things from `application.scss`.

[2017-04-06 15:39] mtomov commented on #1232
Well, I'd argue on the opposite side - if that article stuff was in there - I had to manually delete it, so I guess it really depends on the first view experience that is desired. Maybe you can see to open a PR with the way you see best working.

[2017-05-01 21:24] sechix opened #1258 "Images error"
I deployed my solidus store with alchemy to heroku. I are able to upload images from my app to s3 but i don't know why images don't display in alchemy after. Alchemy can read them

[2017-05-15 18:15] sechix opened #1259 "Strong parameters in message form"
I get this error in message form due to strong parameter :ActiveModel::ForbiddenAttributesError. In method create of controller message @message = Message.new(params[:message]).

But if I override method and use params.require(:message).permit(:firstname, :lastname, :email, :contact_form_id, :message),    I get 'uninitialized constant message'

[2017-05-15 18:16] sechix commented on #1258
Finally I have to use remote_url but in production doesn't works with branch 'rails-5'

[2017-05-15 18:16] #1258 closed

[2017-06-13 20:40] robinboening opened #1262 "Javascript error (in Page#configure modal) when saving page name with special character"
Steps to reproduce:

1. Go to the page sitemap
2. Click on the configure link of a page
3. Change the name of the page to "Gillian's Page"
4. Click the submit button

You will face a syntax javascript error.
The reason is the `'` in the page name. If you wonder why, here is the answer:

In [admin/pages/update.js.erb#18](https://github.com/AlchemyCMS/alchemy_cms/blob/master/app/views/alchemy/admin/

[2017-06-14 07:35] robinboening opened #1264 "Tag filter in picture-swap modal does not filter pictures"
Steps to reproduce:

Prerequisites:
* Have an element with EssencePicture
* Have some pictures in the library
* Have a few tags on the pictures

1. Go to edit page mode
2. Click "change image" link underneath the picture content to open the modal for image assignment
3. Click on a tag on the right panel to filter down the pictures

You will notice clicking on the tag has no visible effect in the f

[2017-06-15 15:33] robinboening commented on #1264
The tag filter in attachment-swap modal is also broken. When you try to filter through tags the `admin/attachments#index` view is rendered, but not the partials with `_file_to_assign`.

I digged deeper and found the issue with strong parameters. We simply need to permit `content_id, :element_id, :options, :swap` to fix the pictures and the attachments tag filtering.

[2017-06-16 15:28] #1262 closed

[2017-06-20 12:20] tvdeyen commented on #1264
Closed via 50bdac2

[2017-06-20 12:20] #1264 closed

[2017-06-20 14:46] tvdeyen commented on #1252
Closed by #1253

[2017-06-20 14:46] #1252 closed

[2017-07-04 17:26] sechix opened #1276 "Error"
I have upgraded to master (Rails 5 ), I had before branch 'Rails-5'. I executed
bundle update alchemy_cms
$ bin/rake alchemy:upgrade

But now when open any page I get an error:ActionView::Template::Error Tried to load unspecified class: Symbol
![image](https://user-images.githubusercontent.com/24247266/27839016-9b27e65a-60ee-11e7-932d-98276069a527.png)
![image](https://user-images.githubuserconten

[2017-07-04 17:32] tvdeyen commented on #1276
Will be fixed by #1272

[2017-07-04 17:34] tvdeyen commented on #1276
Please update you bundle to latest master. This bug is fixed in current master now.

[2017-07-04 17:34] #1276 closed

[2017-07-13 17:29] robinboening opened #1279 "Picture is not cropped even though `crop: true` is set"
The cropping behaviour is broken. I think its broken in more than just one way, but in this issue I will keep it simple and focus on this one behaviour.

You can reproduce it this way:

1. Upload a image with a dimension of 800x600. (https://reimann.reisen/wp-content/uploads/2017/02/reimann-reisen-potsdam-image009-800x600.jpg)

2. Assign the picture in an element with an essence picture.

3. Rende

[2017-08-18 12:18] tvdeyen commented on #1259
Thanks for reporting. Will provide a fix soon. The current spec mocks to heavy that the Rails 5 deprecations have not catched this.

[2017-08-18 13:15] tvdeyen commented on #1226
Yes, the locale has been introduced with Alchemy 3.5. Please follow the readme and run the upgrader task (which runs the migrations) after installing a new Alchemy version.

[2017-08-18 13:15] #1226 closed

[2017-08-18 13:30] #1259 closed

[2017-08-21 08:31] tvdeyen commented on #1279
@robinboening any news on this issue?

Since 4.0.0.rc1 we do not jsonify `options` params anymore. Could you revisit this issue with latest `master`? It should probably be fixed now.

[2017-08-31 06:52] oniram88 opened #1304 "Rails 5.1 and Originator"
Hi, I wanted to test master with Rails 5.1 but the originator dependency blocks the version to <= 5.0
I then downloaded the Originator project to try it with Rails 5.1 but the tests did not run.
I do not understand what I'm wrong about, and why the version is blocked to the 5.1, as running alchemy test with rails 5.1 just faults to view helpers.

[2017-09-07 10:22] tvdeyen commented on #1304
Fixed by #1310

[2017-09-23 05:54] hopewise opened #1311 "route error when visiting admin dashboard"
I am using Rails 4.2, I have installed the stable version:

    gem 'alchemy_cms', github: 'AlchemyCMS/alchemy_cms', branch: '3.6-stable'

I have mounted alchemy on blog as:  `mount Alchemy::Engine => 'blog'`
but visiting localhost:3000/blog/admin would result into route error

Any idea?

[2017-09-23 08:36] tvdeyen commented on #1311
Hard to tell without more information. Could you please show as a stack trace and your `Gemfile.lock`.

[2017-09-24 06:45] hopewise commented on #1311
Here is the `Gemfile.lock` https://gist.github.com/hopewise/ce255ac66d17e08172b9979c59689fb2
I will proide you with stack trace when I go home.. thanks

[2017-09-26 03:34] hopewise commented on #1311
Here is the stack trace:

I've noticed that `/blog/admin` would redirect to `/admin/dashboard` which should be `/blog/admin/dashboard` ?

[code]

[2017-09-26 08:10] mbajur opened #1312 "Issues with resolving rails version on alchemy new"
Hello!

I've been trying to create a new alchemy app using provided guides, i installed alchemy gem and run

    $ alchemy new my_app

And generator raises excetions about unresolveable rails dependencies for generated Gemfile. Here is a full output:

[code]

which breaks the next steps of generator because bundle gems are not installed. Btw - generator should stop on broken `bundle install`.

I c

[2017-09-26 09:09] tvdeyen commented on #1312
The installer executable is not longer supported and was removed from 3.5. Please follow the install steps in the readme instead.

[2017-09-26 09:09] #1312 closed

[2017-09-26 09:53] afdev82 opened #1313 "Missing template layouts/application in the preview page iframe"
I use a different name for the main layout of my application, it's not "application".
If I want to edit a page in the admin interface, I get this error in the preview iframe:
[code]
I expected to use the main layout also in the admin interface to preview the page.
I think [this](https://github.com/AlchemyCMS/alchemy_cms/blob/master/app/controllers/alchemy/admin/pages_controller.rb#L52) is the prob

[2017-11-03 13:33] tvdeyen commented on #1279
#1320 is maybe related as well. @robinboening could you please check if the issue is still present with latest `master` and not if it's fixed with PR 1320? Thanks

[2017-11-03 22:32] tvdeyen commented on #1279
Confirmed and fixed by #1321

[2017-11-04 21:12] #1232 closed

[2017-11-04 21:22] robinboening commented on #1279
Thanks for working on this.

[2017-11-04 21:31] tvdeyen commented on #934
I just revisited this bug on latest `master` and can confirm that it's fixed in terms of the image getting rendered when no cropping information is in the database. But if cropping information is still in the database it uses that and crops the image. This is intentional and changing that would be a change to current behaviour. At least it displays the image.

I think the proposed change is right

[2017-11-04 23:14] tvdeyen commented on #934
Added a fix for this bug in #1321

[2017-11-05 19:39] #1279 closed

[2017-11-05 19:39] #934 closed

[2017-11-07 10:49] jbach opened #1323 "Can’t unassign EssenceFile in backend?"
Hey,
I [can’t seem to find](https://github.com/AlchemyCMS/alchemy_cms/blob/master/app/views/alchemy/essences/_essence_file_editor.html.erb) a way to detach EssenceFiles from within the backend? Is this just not possible at the moment, considering use cases where `- presence: true` is not set?

Cheers,
Jonas

[2017-11-10 22:43] tvdeyen commented on #1323
This is correct. Happy accepting a PR for a change

[2017-11-11 13:50] mamhoff commented on #1130
Wow, old commits. Yeah, that did change the public API (I still believe for the more interesting).

Previously, the ratio between X and Y dimensions of an image would be unset or 1 when set to to true. With the change, the ratio can be arbitrarily set.

[2017-11-16 11:34] moritzps commented on #1245
This was merged in [this PR](https://github.com/AlchemyCMS/alchemy_cms/pull/1246#event-1021823681) so I will close this issue.

[2017-11-16 11:34] #1245 closed

[2017-11-16 12:06] moritzps opened #1325 "Show explanation for 301-redirects also in "Reorder pages" view"
As a **backend user**
**reordering pages** in the pages module
I want to see a similar **explanation about 301-redirects** that I see on the page settings > links view
and see and explanation about redirects being created for **subpages**
to better **understand** how Alchemy does it's magic and saves me a lot of work.

---

We had a discussion with our customer and actually needed to make sure if

[2017-11-17 14:20] chalmagean opened #1326 "Alchemy upgrade ForeignKeyViolation"
I'm trying to run `bin/rake alchemy:upgrade` to update my db schema and I get this error:

[code]

[2017-11-17 14:47] mamhoff commented on #1326
Please try running the `alchemy:db:tidy` rake task before attempting to `alchemy:upgrade`.

[2017-11-18 15:43] chalmagean commented on #1326
Running that blows up.

[code]

[2017-11-18 15:47] chalmagean commented on #1326
Running it a second time worked :)

But then I get another exception

[code]

[2017-11-18 18:56] tvdeyen commented on #1326
`identify` is an imagemagick tool. Do you have imagemagick installed on that machine?

[2017-11-18 20:52] chalmagean commented on #1326
Yes, I do.

[code]

But the error seems to be referring to an undefined method.

[2017-11-21 12:36] chalmagean commented on #1326
I've added a PR for this.

[2017-11-23 16:26] arojoal opened #1328 "No route matches [GET] "/admin/dashboard" on 4.0.0 with MountPoint /portal"
I have set up Alchemy 4.0.0 and it worked fine but when I changed mount point to /portal I can't access administration site.

mount Alchemy::Engine => '/portal/'

This is what I get anytime I try to access http://localhost:3000/portal/admin/dashboard :
<img width="779" alt="screen shot 2017-11-23 at 17 26 03" src="https://user-images.githubusercontent.com/170671/33182227-68c27686-d073-11e7-9d02-75

[2017-11-24 16:59] tvdeyen commented on #1328
Duplicate of #1244

[2017-11-24 16:59] #1328 closed

[2017-11-24 17:00] tvdeyen commented on #1311
Duplicate of #1244

[2017-11-24 17:00] #1311 closed

[2017-11-24 17:15] tvdeyen commented on #1311
Should be fixed by #1329

[2017-11-24 17:16] tvdeyen commented on #1328
Should be fixed by #1329

[2017-11-24 17:16] tvdeyen commented on #1326
Closed by #1327

[2017-11-24 17:16] #1326 closed

[2017-11-24 17:39] tvdeyen commented on #1254
This is tricky. We need to add the leading slash, because this value is used as `href` in links. If we would not add a leading slash links would be nested inside of the current path. If this path is itself nested already (for instance `/some/page`) the internal link to a page further up the tree would be `/some/page/home` instead of `/home`. For this to work we actually need to know the current mo

[2017-11-26 12:41] arojoal commented on #1328
Now it works, but when you try to logout from admin it fails with error:

No route matches [DELETE] "/admin/logout"

It is redirecting to /admin/logout instead of using /mount_point/admin/logout. I attach screenshot to let you see my rails routes...
<img width="1231" alt="screen shot 2017-11-26 at 13 37 58" src="https://user-images.githubusercontent.com/170671/33240044-6ea54c7a-d2af-11e7-9edb-1b02

[2017-11-26 12:44] arojoal opened #1330 "No route matches [DELETE] "/admin/logout" on 4.0.0 with MountPoint /portal"
Folowing solution provided for #1328 , now I have a working Alchemy mounted at /portal and with admin_path: "admin" without leading "/". Everything works except if I try to logout from the administration site.

It fails with error:

No route matches [DELETE] "/admin/logout"

It is redirecting to /admin/logout instead of using /mount_point/admin/logout. I attach screenshot to let you see my rails r

[2017-11-26 12:48] arojoal commented on #1330
The redirection to "LOGIN" fails too.

If you try to access http://xxxx:3000/portal/admin, it redirects to /admin/login instead of /portal/admin/login.

<img width="1254" alt="screen shot 2017-11-26 at 13 46 53" src="https://user-images.githubusercontent.com/170671/33240087-779ba1ac-d2b0-11e7-920d-f50d3fecd44c.png">

[2017-11-27 12:29] chalmagean commented on #1326
Just to provide some documentation for anyone else getting the error I mentioned in the issue.

I had to run `rake alchemy:tidy:up` twice and then do the `rake alchemy:upgrade`.

[2017-12-02 14:50] jasonfb opened #1332 "Psych::DisallowedClass error when running `rails g alchemy:elements --skip`"
When running ```rails g alchemy:elements --skip```, I get an error

[code]

full stacktrace:

https://gist.github.com/jasonfb/caf2c83dbf279c6817586c3ff426e53b

This is on a hello world (fresh) installation, running Rails 5.1.4, with alchemy_cms at `01f3497a067635fce97fc37f149049c9212b1aed` and alchemy-devise at `62ea8059b31553a41e8ff88144217de8b2f462da`

will push up app and attach to this issue.

[2017-12-02 14:55] jasonfb commented on #1332
ok reproduction app is here:

https://github.com/jasonfb/alchemy_helloworld_r514

[2017-12-02 22:10] robinboening commented on #1332
Thanks for providing a repo to reproduce the issue! This saves so much time and is really awesome!

It seems Psych doesn't allow symbol values anymore... I don't have the time to dig into this now, but if you remove the colons infront of the default values it works.

[code]

Of course this is not a fix, but it shows where the issue comes from and maybe you can continue for now until its fixed.

[2017-12-02 22:27] robinboening commented on #1332
Actually I just noticed this commit from July: 0996813d94efd3c5458daa93468285cca0c1227f
In which `Symbol` was added to the whitelist of `YAML.safe_load`, but its missing in the generator base class. I will send a PR later.

[2017-12-04 08:22] tvdeyen commented on #1330
You should be able to set

[code]

Does this work?

[2017-12-12 14:19] robinboening opened #1336 "Translations for `content_hints` should be nestable under element names"
As we allow `content_names` to be translated specific to its element, we should also allow the `content_hints` to be translated specific to its element.

Currently `content_hints` are not nestable under their element names.

See the scope that is used to translate content hints:

https://github.com/AlchemyCMS/alchemy_cms/blob/42277113920002d1f62f894395e3811eae746b58/lib/alchemy/hints.rb#L53-L55

[2018-01-01 23:05] tvdeyen opened #1337 "Picture search with Rails 5.1 broken"
1. Goto Archive
2. Enter search term into search field
3. Error happens

[code]

[code]

Alchemy master b759021f7
Rails 5.1
Ruby 2.5.0

[2018-01-03 11:05] gkulasik commented on #1337
I am experiencing this issue in file search as well. Same reproduction steps.

1. Go to Library
2. Go to Files
3. Enter term into search field
4. Error below comes up

`ActionView::Template::Error unable to convert unpermitted parameters to hash`
`/Users/gkulasik/.rbenv/versions/2.3.4/lib/ruby/gems/2.3.0/gems/actionpack-5.1.4/lib/action_controller/metal/strong_parameters.rb:265:in 'to_h'
/Users/gk

[2018-01-03 11:30] gkulasik opened #1338 "Tiny MCE buttons overflowing for certain modals"
While working with the TinyMCE editor and trying to add some text content I noticed that the buttons within modals look off. They look like they are overflowing to the right and bottom.

Note: Button functionality still works, it just looks off.

Reproduce steps:
1. Go to any editable page with a TinyMCE EssenceRichtext available.
2. Click the 'Special Character', 'Anchor', or 'Source Code' editor

[2018-01-09 12:27] #1244 closed

[2018-01-17 15:14] sliminas opened #1345 "Incorrect overwritten I18n data for french month names"
In the french locales file the default rails translation data for month and day names gets overwritten, so that the names are now capitalized:
https://github.com/AlchemyCMS/alchemy_cms/blob/master/config/locales/alchemy.fr.yml#L627-L630

1. Why are they capitalized? This seems to be a bug because they aren't capitalized in French.
2. Why is this data overwritten at all? Since alchemy is bound to r

[2018-01-22 15:26] robinboening opened #1350 "Performance of language tree rendering"
If you have multiple thousands of pages in a language tree, loading of such takes about 20seconds on an average server.

[code]

These numbers are taken from an example where I rendered a fully unfolded page tree of ~7000 pages. ActiveRecord is pretty fast while the view rendering is way too slow to call it acceptable.

@pascalj already improved a lot with this PR https://github.com/AlchemyCMS/alc

[2018-01-23 10:05] tvdeyen commented on #1338
Thanks for reporting and the well written report! I plan to upgrade TinyMCE to a more recent version. Also we made a lot of UI changes lately, that needs to be adopted to our TinyMCE theme as well.

[2018-01-23 16:07] #1338 closed

[2018-01-26 07:52] tvdeyen commented on #1345
Thanks for reporting.

The people that contributed the translation capitalized them. I wouldn’t consider this a bug at all.

Alchemy is often used in a bare (empty) Rails app. To provide a seamless out-of-the-box experience we added the Rails translations. Also Alchemy itself uses these translations in its admin interface.

We should not do this anymore, as Alchemy is more often used in conjunctio

[2018-02-22 17:55] joeczucha opened #1359 "all.css does not appear to exist"
The alchemy guide says that you need to install alchemy-devise prior to installing, but when you do get the error:

          insert  vendor/assets/stylesheets/alchemy/admin/all.css
    The file /Users/joe/Labs/alchemy_solidus_test/vendor/assets/stylesheets/alchemy/admin/all.css does not appear to exist

and the login page layout is broken.

You need to re-run the alchemy-devise installer once you

[2018-02-26 14:06] #792 closed

[2018-02-28 08:38] tvdeyen opened #1375 "Use faster alternative to ActiveModel Serializers"
https://github.com/Netflix/fast_jsonapi

[2018-02-28 08:39] tvdeyen opened #1376 "Remove the jQuery UI dependency"
The only places left where we use jQuery UI is:

- Tabs
- Sortables

We should include better maintained and more modern JS libs for this.

[2018-03-01 23:38] radixhound opened #1379 "Can't set up a new app: Migrations break on gutentag update"
The migrations break when I try to set up a new app. I was able to do this successfully a couple of days ago. Today I decided to take what I learned and start again and am running into errors.

Steps:
[code]

Add alchemy-cms and alchemy-devise to Gemfile.
[code]

Run bundler
[code]

Install migrations
[code]
*nb: if I use `bin/rake alchemy_devise:install:migrations` I get errors or the process jus

[2018-03-02 05:56] fab commented on #1337
I have noticed the same issue and have a fix for it. It appears as though strong parameters protection is trigged in Rails 5.1 when trying to convert the params object into a hash for URL generation. Unfortunately, neither the [Rails Security Guide](http://guides.rubyonrails.org/security.html), nor the [Action View Overview](http://guides.rubyonrails.org/action_view_overview.html) discuss this fun

[2018-03-02 09:39] tvdeyen commented on #1379
@radixhound thanks for reporting. Fixed by #1381 Could you test this branch on your installation?

In your `Gemfile` replace `AlchemyCMS/alchemy_cms, branch: 'master'` with `tvdeyen/alchemy_cms, branch: 'skip-gutentag-migration'` and then try again?

[2018-03-03 12:56] juryghidinelli commented on #1337
I confirm the bug, and i confirm the solution.

[2018-03-04 16:39] tvdeyen commented on #1337
Just looked into the files. It seems that we need to use the sanitized params from the resources controller instead of the params hash from the request. Will try to provide a fix tonight. Thanks for investigating into that @fab

[2018-03-06 09:30] #1379 closed

[2018-03-06 09:30] tvdeyen commented on #1379
@radixhound #1381 has now landed in master, could you please try again?

[2018-03-06 09:40] #1337 closed

[2018-03-09 15:35] oniram88 opened #1389 "Nested Elements Touching Parent"
I'm searching to reproduce an error but I can't figure it out.... i tested the same thing inside the dummy app and  it's working fine:

I have an element with nested elements, and when the child element is changed the parent didn't receive the touch, i tested it in the console with:  Alchemy::Element.find(8).touch   (where 8 is the id of my nested element) and the parent node is will not update hi

[2018-03-09 15:38] oniram88 commented on #1389
A possible solution would be to leave things as they would in the default of rails

[code]

[2018-03-09 16:43] tvdeyen commented on #1389
I agree that all our custom touching logic should be removed and we should let Rails handle that. Will work something out.

[2018-03-09 21:31] tvdeyen commented on #1389
@oniram88 I created a PR #1390 that removes our custom touching mechanism and let Rails handle most of the associations.

Could you please test this in your app and check if this fixes your problem?

Just add my fork/branch to your `Gemfile`

[code]

and run `bundle install`.

[2018-03-09 21:45] radixhound commented on #1379
@tvdeyen lgtm 👍

[2018-03-12 07:48] oniram88 commented on #1389
Perfect, works great!

[2018-03-12 08:22] #1389 closed

[2018-03-12 08:23] tvdeyen commented on #1389
Thanks for the feedback. You can now switch back to

[code]

[2018-03-19 09:44] #1332 closed

[2018-03-20 08:00] tvdeyen commented on #1156
Closed as it's stale. Feel free to open a new issue, if this still a problem in recent versions of Alchemy.

[2018-03-20 08:00] #1156 closed

[2018-03-20 08:10] tvdeyen commented on #1313
Currently Alchemy only supports the `application` layout.

I think we can support other layouts by adding a config option `layout` and set it's default value to `application`.

There are two places where we would need to make changes:

1. https://github.com/AlchemyCMS/alchemy_cms/blob/master/app/controllers/alchemy/pages_controller.rb#L144

2. https://github.com/AlchemyCMS/alchemy_cms/blob/master/

[2018-03-20 11:50] tvdeyen commented on #1345
@sliminas I just added #1398

[2018-04-03 07:19] afdev82 commented on #1313
Yes, but I don't know when exactly... In the end I didn't really needed to use a different layout

[2018-04-11 09:56] #1345 closed

[2018-04-27 06:48] tvdeyen commented on #1359
We should update the README and guides then. Willing to send a PR?

[2018-05-02 06:37] amitbishtZT opened #1417 "Unable to install alchemy in spree (3.4.4) project"
Hi,
I am unable to install alchemy (4.0-stable) in existing spree (3.4.4) with rails (5.1.6) solution.
getting below error-

[2018-05-02 07:33] tvdeyen commented on #1417
Alchemy 4.0 only supports CanCanCan (the authorization gem in use) 1.x, while Spree 3.4 only supports v2.x. We should be able to also support v2 in Alchemy 4.0.

[2018-05-02 09:09] tvdeyen commented on #1417
@amitbishtZT this should now be fixed.

[2018-05-02 09:12] amitbishtZT commented on #1417
Hi , thanks .
I also fixed this particular issue but found that there were many other gems not in sync with spree's gems. Which are still not allowing me to install alchemy.

[2018-05-02 10:58] tvdeyen commented on #1417
@amitbishtZT

This should be fixed easily, because Kaminari 1.0 did not make any changes that affect us.

This one is harder, because the changes made to `jquery-ui-rails` 6.0 are breaking 5.0 installs.

We plan to remove the jQuery UI dependency completely (see #1376), but this will not happen in a already published stable release (like `4.0-stable`) but in an future release.

Until this happens

[2018-05-02 11:31] tvdeyen commented on #1417
@afdev82 I added support for `jquery-ui-rails` 6.0 in #1420

[2018-05-02 12:26] #1417 closed

[2018-05-03 02:03] node-gs opened #1421 "The Demo app admin does not work"
Navigating to `https://alchemy-demo.herokuapp.com/admin/login` and using the credentials `demo` `demo123` prompts this error message:

This page isn’t working
alchemy-demo.herokuapp.com redirected you too many times.
Try clearing your cookies.
ERR_TOO_MANY_REDIRECTS

[2018-05-03 20:06] #1421 closed

[2018-05-06 20:07] jetsgit opened #1425 "Unable to restore element from trash on page with cells"
I have a page with 2 cells. So in the admin I have 3 tabs on right side for 'Main Content', 'slide_gallery', and 'footer'. I have deleted an element from 'Main Content'. According to directions I should be able to drag and drop this element from trash to the 'element window'.  This does not work. Restoring an element on a page with no cells does work.

**Context**
- Alchemy CMS 3.4.1
- Rails 4.2.6

[2018-05-08 07:40] tvdeyen commented on #1425
Thanks for reporting. Fixed by #1430

Will release a v3.6.5 soon. Please upgrade to v3.6.5 when it gets released or use the `3.6-stable` branch, as we do not support v3.4 any more.

[2018-05-08 07:45] tvdeyen commented on #1323
There is always the possibility to remove the element and create it again. Not ideal, but still a way to work around this missing feature.

[2018-05-08 07:47] tvdeyen commented on #1130
This is so old. Please re-open if this is still an issue.

[2018-05-08 07:47] #1130 closed

[2018-05-08 07:51] tvdeyen commented on #848
We extracted the locale files into the `alchemy_i18n` gem. I also tried to align the files with the aforementioned `i18n-tasks` gem and decided to not do this, as the file is not readable by humans any more. All comments are gone and the sorting is not what a human would expect. I added support for https://www.localeapp.com, so adding and maintaining translations is now easier and alignment is not

[2018-05-08 07:51] #848 closed

[2018-05-08 07:54] tvdeyen commented on #1173
Stale. Please re-open if this is still an issue.

[2018-05-08 07:54] #1173 closed

[2018-05-08 07:58] #1425 closed

[2018-05-08 09:09] tvdeyen commented on #1425
Released v3.6.5 ✅

[2018-05-08 09:18] mamhoff opened #1432 "Tidy task fails with nested elements"
In my project, we've been using nested elements for a long while. Elements with nested elements will destroy their nested elements when they are destroyed.

The tidy tasks takes all unscoped elements and destroys them one by one. If a child element of a previously destroyed element is in the list of orphaned elements, the Tidy task will fail at `orphaned_element.destroy`.

I see two possible solut

[2018-05-08 09:35] mamhoff opened #1433 "Foreign key migrations fails for folded pages"
Turns out the site I'm working on has a duplicate entry n the `alchemy_folded_pages` table, preventing the index for that table to be created. Should that be cleaned up as part of the tidy task?

Edit: In my case this was only one entry, which I found by hand.

[2018-05-08 09:57] #1026 closed

[2018-05-08 10:24] bogdanjurconi opened #1437 "Installer stuck"
Hello, i'm trying to install alchemy cms to a new rails app, but after i choose the path when i get "At which path do you want to mount Alchemy CMS at? (DEFAULT: At root path '/')" it says "insert  config/routes.rb" and it's stuck.

I'm using rails 5, to be more precise 5.1.6, and the ruby version is 2.4.3
Also, i'm using the user model provided by the gem alchemy-devise

[2018-05-08 13:40] tvdeyen commented on #1437
Hard to say without any further information about your environment.

Could you try

[code]

and then try again?

If it's still an issue, please paste your `Gemfile.lock`

[2018-05-09 08:09] bogdanjurconi commented on #1437
It worked after spring stop, that was the problem

I was working on cloud9

Thank you for your help

[2018-05-09 08:09] #1437 closed

[2018-05-14 08:06] tvdeyen commented on #1432
Thanks for reporting.

I think solution 2.) is a good fix. Are you available to provide a PR?

[2018-05-14 08:12] tvdeyen commented on #1433
Thanks for reporting. Yes, I think it makes sense to add this to the `tidy` task and maybe even a `foreign_key` as well. Are you available to provide a PR?

[2018-05-14 08:50] #817 closed

[2018-05-17 17:48] mamhoff opened #1444 "Element Editor: Checkboxes do not work any longer"
### Steps to reproduce

Fire up the dummy app, add an EssenceBoolean and try changing the check box's state.

### Expected behavior

The check boxes state should change.

### Actual behavior

The check box does not change state. :crying_cat_face:
![oh_checkboxes](https://user-images.githubusercontent.com/703401/40193671-4b57e86e-5a08-11e8-86c5-4cba359b2264.gif)

The culprit seems to be this event

[2018-05-18 05:06] #1444 closed

[2018-05-22 07:49] mamhoff commented on #1433
Fixed in #1449

[2018-05-22 07:49] #1433 closed

[2018-05-22 07:49] mamhoff commented on #1432
Fixed in #1449

[2018-05-22 07:49] #1432 closed

[2018-05-22 07:54] mamhoff opened #1451 "FEATURE: Image selection in CRUD modules"
**Is your feature request related to a problem? Please describe.**

It is not possible right now to choose an image related to a custom class. For example, you might have a `Location` class with a logo field, but it's right now not possible to choose the image using Alchemy's built-in image selection/upload dialogue.

**Describe the solution you'd like**

I'd love there to be some kind of API that

[2018-06-08 16:08] juryghidinelli opened #1452 "Alchemy.debug"
### Steps to reproduce

Use alchemy backend without locale translation file present

### Expected behavior

The Alchemy.debug functions seem not exist anymore

### Actual behavior

Error function not found into browser javascript console

### System configuration

- Alchemy Version: 4.1.rc1
- Rails Version: 5.2.0

[2018-07-25 08:58] sechix opened #1454 "Error in solidus login users in dashboard"
In dashboard of last master alchemy version I get this error,
![image](https://user-images.githubusercontent.com/24247266/43190448-58f18e40-8ff9-11e8-8214-68f26f348191.png)

I was researching and its due to '@online_users' is nil .  I guess that because of I log with solidus and I have connecting login to solidus login I get the error.

      def index
        @last_edited_pages = Page.all_last_ed

[2018-07-26 17:06] jedrekdomanski opened #1455 "After adding images they do not show up in the dropdown"
### Steps to reproduce
Add images (.svg) to the library, on a page add an Element with a dropdown and try to select the image from the dropdown.

Here is the screen shot of my icons in the library:
<img width="731" alt="alchemy cms - images 2018-07-26 19-02-12" src="https://user-images.githubusercontent.com/5911945/43276855-71479530-9106-11e8-9d29-f01fbaa09ae1.png">

And this is my dropdown in the

[2018-07-26 22:23] jedrekdomanski commented on #1455
Any ideas?

[2018-07-27 06:38] tvdeyen commented on #1455
It seems your Icon is an `EssenceFile`, but it should be an `EssencePicture` instead.

[2018-08-10 06:54] oniram88 opened #1459 "Locals lost after first cycle"
### Steps to reproduce

You need a set of elements in a page and render with locals

`<%= render_elements from_page: "menu_header", locals:{desktop:true} %>
`

### Expected behavior

the locals will be pass to every rendere_element in this function:

[code]

### Actual behavior

alfter the first render_element the options hash is cleared from the locals key:
https://github.com/AlchemyCMS/alchemy_c

[2018-08-20 09:14] tvdeyen commented on #1350
Rendering a page tree of 8000 pages nested 10 levels deep takes ~11 seconds to load and serialize on my Late 2016 MBP (Core i5, 3.1GHz). Another 5-6 seconds is rendering time (parsing the JSON and painting it with Handlebars).

I tried to speed up the serialization with [`panko_serializer`](https://github.com/yosiat/panko_serializer) that uses [OJ (a C driven JSON serializer for Ruby)](https://git

[2018-08-27 07:41] oniram88 opened #1464 "translations files with Pathname instead of String"
### Steps to reproduce

Append a Pathname to the I18n.load_path array (in this case it's caused by dry-validation that adds a Pathname instance instead of a String)

### Expected behavior

Not raise error

### Actual behavior

undefined method `match' for Pathname

### Possible solution
[code]
to
[code]
but i don't know if its correct or not  finding a Pathname in the load_path array, and so if it

[2018-08-28 06:06] dznicol opened #1465 "Trouble combining existing Heroku Dragonfly config with v3.5 (Dragonfly Middleware picture rendering)"
I have an existing production install of Alchemy 3.2 that I am trying to upgrade to 3.6. My production install uses Dragonfly and S3 storage, following the Heroku setup described here: https://guides.alchemy-cms.com/edge/deploy_on_heroku.html

My area of concern is the new Dragonfly initializer.

The v3.5 upgrader installs a stock template Dragonfly initializer for Alchemy to use the Dragonfly mid

[2018-08-28 11:33] tvdeyen commented on #1465
This is an issue tracker, not a help forum. Please use stack overflow or our Slack channel to seek for help. Thanks

[2018-08-28 11:33] #1465 closed

[2018-08-28 20:18] dznicol commented on #1465
Sure no probs. I have asked the question here: https://stackoverflow.com/questions/52064524/alchemy-cms-combining-existing-heroku-dragonfly-config-with-alchemy-v3-5-drag

I can't seem to get in to the Slack channel.

Once I get a working Dragonfly S3 config when deploying to Heroku I am happy to contribute  and update the Deploying to Heroku guide. I think that might need updating.

David

[2018-09-05 09:09] mamhoff opened #1466 "When reordering pages, respect "folded" state of subtrees"
**Is your feature request related to a problem? Please describe.**

With a large tree, and when moving large subtrees, it's UI-wise difficult to navigate the "Reorder pages" feature. If the tree view in that feature would remember which pages are folded, that would make things a lot easier.

**Describe the solution you'd like**

See above.

**Describe alternatives you've considered**

I think this

[2018-09-05 10:07] tvdeyen commented on #1466
Nice idea. Same solution already proposed by @robinboening in #1350

But, how do we allow to drag pages into folded pages? You simply can't I presume. I am fine with that. People could expand the sub tree first and then drag pages into it.

Like to PR this @mamhoff ?

[2018-09-07 06:51] juryghidinelli commented on #1451
On various project we adopt two different method.

**Method 1**: is to create a proxed model thet join the custom model (product for example) for one or more attributes to alchemy element like gallery or richtext or image. An example of this is into the project https://github.com/ArchimediaZerogroup/AlchemyBootstrapTemplate.
This method has the advantage that reuse all elements that's was created

[2018-09-10 10:09] askl56 commented on #1375
@tvdeyen I can pick this up if nobody else has.

[2018-09-10 10:15] tvdeyen commented on #1375
@askl56 thanks. As we do not have a [`JSON:API`](http://jsonapi.org) compatible API this gem won't work for us.

An alternative would be [Panko](https://github.com/yosiat/panko_serializer).

[2018-09-18 09:48] tvdeyen commented on #1454
Fixed by #1469

[2018-09-18 09:48] #1454 closed

[2018-09-20 08:59] tvdeyen commented on #1464
This seems like a [`i18n` gem](https://github.com/svenfuchs/i18n) related issue, not an Alchemy related issue.

[2018-09-20 08:59] #1464 closed

[2018-09-20 09:00] tvdeyen commented on #1451
Sure, please contribute a PR or create an extension

[2018-09-20 09:01] tvdeyen commented on #1451
As this is a feature request and not an issue (bug) I will close this. Please feel free to contribute via a PR.

[2018-09-20 09:32] #1452 closed

[2018-09-26 10:38] juryghidinelli commented on #1451
Well. Before develop and send a pull request, i think is good to exchange some ideas  for how implement this feature. From my experience with CRUD model, the features needed are:
* choose an image from Alchemy picture gallery
* choose some images from Alchemy picture gallery
* order images choosen into the edit (or new) view
* remove images choosen
* the choose of an image should use same user int

[2018-09-27 09:30] oniram88 commented on #1464
PS.
in alchemy 4.0.x the problem wasn't present

[2018-09-27 11:18] tvdeyen commented on #1464
Please open an issue either at i18n or dry-validation repos. This is not Alchemy related. Thanks

[2018-09-28 07:58] afdev82 commented on #1451
@juryghidinelli that would be great!
Currently I only need the first feature, to choose an image to my custom resource.
I'm trying to reuse the `archive_overlay` partial in my app and I'm facing some problems, I don't know if I could write them here, I don't want to blow up this issue.
I think the best would be to find an easy way to reuse the existing Alchemy dialogs in the host app, to pass them

[2018-09-28 18:43] agorneo opened #1481 "Failed to permit index on :alchemy_admin_dashboard for: #<Alchemy::User id: 1..."
### Steps to reproduce

Procedure:
-) clone demo
-) bin/setup
-) browser http://localhost:3000/
-) Create your first admin user
-) login page: demo, demo123
-) redirect again on root: http://localhost:3000/
-) then every time you click: Create your first admin user
-) redirect again on root: http://localhost:3000/ (without show login or signup page)

In every redirection to the root there is a mes

[2018-09-29 07:18] tvdeyen commented on #1481
The user does not have sufficient rights to access the admin. It needs to have at least the `author` role to log into admin.

[2018-09-29 08:46] agorneo commented on #1481
OK, I see...
I notice in the db that the table is alchemy_users
In rails c I try: AlchemyUser and get NameError: uninitialized constant AlchemyUser
What is the name of the user class?
I want to create a new user through rails c and see what other tables get updated..

[2018-09-29 08:54] tvdeyen commented on #1481
The documentation is your friend

https://github.com/AlchemyCMS/alchemy-devise/blob/master/app/models/alchemy/user.rb

Alchemy::User

[2018-09-29 14:13] agorneo commented on #1481
Thank you very much for your most valuable support and help... :)
I am really grateful to you :)

I think I found what is missing. I have made the correction to my git clone of alchemy_cms

Can you tell me how can I use it (this alchemy_cms) in the alchemy_demo project and verify that it is working ok? What is the procedure for this kind of fixes, in the gem's code....?

[2018-09-30 01:31] agorneo opened #1482 "Notification message for successful logout show up in the next login"
### Steps to reproduce

1) logout (click "leave" and then "logout")
2) try to re-login: https://alchemy-demo.herokuapp.com/admin/login

### Expected behavior

No notification message needs to be shown when a user wants to log in

### Actual behavior

Shows a notification: "Signed out successfully"

### System configuration

You can try it with the latest alchemy demo: https://alchemy-demo.herokuap

[2018-09-30 07:54] tvdeyen commented on #1481
https://bundler.io/man/gemfile.5.html#PATH

https://akrabat.com/the-beginners-guide-to-contributing-to-a-github-project/

[2018-09-30 18:36] agorneo opened #1483 "Show the "Welcome" page also if the root page does not exist or it is not published"
It is very frustrating for the end user when it sees the **Routing Error - Alchemy::Page not found "/"**

The "Welcome" page should be shown also if the root page does not exist **or** it is not published.
For now, the welcome page is shown when there is no admin user **and** there is no root page.
Ideally, the welcome page must recognise the current state and respond appropriately (show specific

[2018-10-07 13:32] agorneo opened #1486 "Dummy app - No route matches [DELETE] "/logout""
### Steps to reproduce

In dummy app, login and the then press "leave" - "logout"

http://localhost:3000/logout

[2018-10-19 17:03] agorneo opened #1488 "TinyMCE - bullist and numblist options are not shown in toolbar"
In an EssenceRichText element the toolbar of TinyMCE does not contain the bullist, numlist buttons.

I used also this config/initializers/tinymce.rb:
[code]
and the problem persists
If I enable the plugins line then not only the problem does not solved but I am loosing more buttons...

[2018-10-19 21:06] tvdeyen commented on #1488
Do you see any errors in the browser console? Are the buttons gone or empty buttons?

Any more info that could help reproduce the issue?

[2018-10-20 00:40] westonganger opened #1489 "ActionView::Template::Error translation missing: en.time.formats.datepicker"
Getting two errors when accessing my Custom Modules New/Edit page

- ActionView::Template::Error translation missing: en.time.formats.datepicker
- ActionView::Template::Error translation missing: en.date.formats.datepicker

These should probably refer to en.alchemy.{type}.formats.datepicker

### Steps to reproduce

Add a module for custom rails model and access the new or edit page

### Expected b

[2018-10-20 00:43] westonganger opened #1490 "Modules do not appear in the admin navigation"
I following the modules guide, creating my first module, the navigation link never gets added to the left sidebar nav however you can access via the URL and it works fine.

### Steps to reproduce

Create a module

### Expected behavior

Should provide a navigation link in the sidebar

### Actual behavior

No navigation link in the sidebar

### System configuration

- Alchemy Version: 4.2.0.alpha &

[2018-10-20 01:59] westonganger commented on #1490
Okay so I accidentally named my module "sample_model" when it should have been named "sample_models" and everything inside the module referred to sample_model. This included the incorrect :controller key which was the issue here.

**Current behaviour:**
Accessing the pages via the URL was working correctly with the exception of the navigation not showing up. I assume this was because it falls back

[2018-10-20 03:43] agorneo commented on #1488
The buttons are not shown at all... There are not exist...

It is not related with missing the plugins lists and advlist

It is very common.... just create a new alchemy demo and you will see it....
You can use mine: https://alchemy-demo.herokuapp.com/admin/pages/58/edit

[2018-10-20 05:37] agorneo commented on #1488
Another TinyMCE feature (plugin) that seems to not working:
https://www.tiny.cloud/docs/plugins/textpattern/

In my config/initializers/tinymce.rb:
[code]

In the editor I enter:
<pre>
- sdfdsdsdsfdsf

* asdasdsdassad
</pre>

but nothing happens, either in the editor or in the preview...

[2018-10-20 17:59] tvdeyen commented on #1488
Plugins are configured wrongly. Please use

[code]

[2018-10-20 18:19] tvdeyen commented on #1488
Ah, we are missing the `lists` plugin. Somehow they must have moved this into a plugin a while ago. Will fix this.

[2018-10-21 02:32] agorneo commented on #1488
I try the following:

[code]
but I did not see the bullist and numblist buttons and nothing changed in the view of something like this:

<pre>
- sdfdsdsdsfdsf
* 11111111
* asdasdsdassad
</pre>

[2018-10-21 09:33] tvdeyen commented on #1488
1. The missing `lists` plugin is fixed by #1491

2. Alchemy does not ship with all Tinymce plugins.

If you want additional plugins you need to add them yourselves. Download the plugin from the Tinymce homepage and place it into `vendor/assets/javascripts/tinymce/plugins`

Then add it to the list of plugins in the Alchemy Tinymce config.

Ruby Tip: Registering multiple plugins at once is done by

[2018-10-21 12:49] agorneo commented on #1488
Great Thank you

How can I use your fix?
Do I have to wait for the next commit?

[2018-10-21 18:14] #1488 closed

[2018-10-21 18:15] tvdeyen commented on #1488
I just merged the fix. `bundle update alchemy_cms` will install it.

[2018-10-22 03:11] agorneo commented on #1488
The usual issue with versions:

[code]

[2018-10-22 07:53] agorneo opened #1492 "EssenceLink - Renderer - Show URL instead of Link Title"
### Steps to reproduce

Create an EssenceLink and fill in the URL, Link Title and open in new window

### Expected behavior

The Link Title should be shown in the preview window

### Actual behavior

The URL show in the preview window as a link

Elements.yml
[code]

app/views/alchemy/elements/_link_nested_view.html.erb
[code]

[2018-10-24 23:37] westonganger commented on #1359
This should be closed as it appears to be fixed in the Guides and on the README.

[2018-10-25 01:07] westonganger commented on #1481
This issue appears it can be closed.

[2018-10-25 04:59] agorneo opened #1505 "TinyMCE - Add "textcolor" plugin - Toolbar: forecolor & backcolor"
**Is your feature request related to a problem? Please describe.**
TinyMCE editor lacks of **buttons for setting the font colour** (foreground and background)

**Describe the solution you'd like**
We can add the `textcolor` plugin which add the buttons: `forecolor` & `backcolor`

**Additional context**
We need to copy the `textcolor` plugin folder to `vendor/assets/javascripts/tinymce/plugins` and

[2018-10-25 09:09] tvdeyen commented on #1505
Thanks. We try to keep the default buttons as few as possible, but still provide ways of adding additional buttons and plugins. The way you described it is correct and can be done by someone who wants to have these buttons in there own app. Could you please open this PR [at the guides repo](https://github.com/AlchemyCMS/alchemy-guides) instead? This would be very much appreciated. Thank you again.

[2018-10-25 09:19] tvdeyen commented on #1492
The `link` is displayed only if you do not set `text` as content `settings`.

https://github.com/AlchemyCMS/alchemy_cms/blob/b6d8ceacd2ac1faa4a58b303194eaad079f1e9dc/app/views/alchemy/essences/_essence_link_view.html.erb#L6-L7

[code]

The `title` is actually meant as the `title` attribute on the `<a>` tag created. But currently not used in the essence partial I just saw. This should be fixed actu

[2018-10-25 09:28] tvdeyen commented on #1482
I cannot reproduce on the Alchemy demo actually.

[2018-10-25 09:33] tvdeyen commented on #1483
I disagree. the welcome page is only meant for developers installing alchemy the first time. Alchemy is trying to be a CMS that is not smellable https://fronteers.nl/congres/2012/sessions/i-can-smell-your-cms-phil-hawksworth

Although this seems odd to you, but it is absolute correct behavior that a CMS that does not have any public page, is presenting a 404 to the user. A CMS must never reveal it

[2018-10-25 09:33] #1483 closed

[2018-10-25 09:36] tvdeyen commented on #1486
Yes, this is due to that we do not have an authentication in the dummy app. The authentication is provided either by the app developer itself or by using the `alchemy-devise` gem or another engine. Some people use the solidus ecommerce plattform and use their user to authenticate. That said, the dummy app is only for testing the core of Alchemy.

Using the demo is preferable

[2018-10-25 09:36] #1486 closed

[2018-10-25 09:37] tvdeyen commented on #1481
Yes, indeed. Thanks

[2018-10-25 09:37] #1481 closed

[2018-10-25 09:38] tvdeyen commented on #1359
Thank you @westonganger

[2018-10-25 09:38] #1359 closed

[2018-10-25 09:42] agorneo commented on #1482
It is a little bit tricky to make it happen...
it is very common with the proposed changes in code for the welcome page and when to show...

[2018-10-25 11:22] Rixi2203 opened #1506 "Rerwrite"
### Steps to reproduce

How can we make this happen

### Expected behavior

Tell us what should happen

### Actual behavior

Tell us what happens instead

### System configuration

- Alchemy Version:
- Rails Version:
- Contents of your `Gemfile.lock`

[code]

[2018-10-25 11:52] tvdeyen commented on #1506
What is this? Some kind of spam?

[2018-10-25 11:52] #1506 closed

[2018-10-25 16:31] salbertson opened #1507 "What do you think about adding a "Reviewed by Hound" badge?"
Related to https://github.com/AlchemyCMS/alchemy_cms/pull/1493.

@tvdeyen do you have a couple examples of PRs that didn't get status updates from Hound? Also, we are actively working to improve the issues around status updates. https://github.com/houndci/hound/commit/5afb1870f8e9a3879d5008d6d8aa430aa5375962

<img width="934" alt="47305080-38121d00-d5dd-11e8-8a47-50cea396dfe3" src="https://user-im

[2018-10-25 16:32] salbertson commented on #1507
Found one, https://github.com/AlchemyCMS/alchemy_cms/pull/1504

[2018-10-25 18:07] salbertson commented on #1507
@tvdeyen I ran the build for https://github.com/AlchemyCMS/alchemy_cms/pull/1504 again, it looks like everything went smoothly this time. We are getting a 502 from GitHub and for some reason it doesn't look like Hound is retrying. I'll let you know what we find.

[2018-10-25 18:47] #1490 closed

[2018-10-28 14:43] agorneo opened #1509 "Index page - Show (create html code) only if element is "Article""
If I try to use another element name except from the "**Article**", then I can see the contents in the editor area but **in the preview area I do not see anything**. The html content in source it is empty. The element source code for the "Article2" (for example) do not exists.

Probably this is related with using `locale` other than the `default "en"`
I did a lot of tests and try different combina

[2018-10-28 21:39] mamhoff opened #1510 "TinyMCE: Lists plugin missing"
### Steps to reproduce

Create a new Alchemy project with a richtext element. Try editing and adding a list (ordered or unordered).

### Expected behavior

There should be buttons for lists.

### Actual behavior

The buttons don't appear because the `lists` plugin is not loadable for some reason. It's been removed from TinyMCE core, and moved into a plugin. However: The CDN version, which Alchemy

[2018-10-28 21:44] tvdeyen commented on #1510
Fixed by #1491

[2018-10-28 21:44] #1510 closed

[2018-10-29 02:22] agorneo opened #1511 "Admin UI - Editor - Show in all page area"
In `Alchemy CMS` admin user interface the `editor area` occupies the right side of the page.

The left side is occupied by the previewer.

There are cases where we work with a big text and we would like to have **all the page area for the editor**.

How can I do this?

The `full screen mode` of the `tinymce` does not use all the page area. It utilises the right side of the screen... and this is no

[2018-11-30 12:32] sriedel opened #1518 "SSL Certificate on alchemy-cms.com expired"
### Steps to reproduce

Visit https://www.alchemy-cms.com

### Expected behavior

See the alchemy-cms website.

### Actual behavior

See the browsers insecure connection warning page.

### System configuration
Firefox 63

[2018-11-30 16:03] tvdeyen commented on #1518
Thanks, resolved

[2018-11-30 16:03] #1518 closed

[2018-12-02 11:05] sriedel commented on #1518
Your renewed certificate is only valid for alchemy-cms.com, accessing the site through www.alchemy-cms.com will still show the error page.

[2018-12-02 11:13] tvdeyen commented on #1518
www.alchemy-cms.com is no where advertised. Who ever uses it? But now that Google knows of it we should add a redirect to the non www domain.

[2018-12-04 19:13] #1511 closed

[2018-12-07 13:45] jedrekdomanski opened #1522 "How to re-add Users module"
Alchemy comes built in with several modules:

Pages
Languages
Sites
Users
Tags
Library (Pictures & Attachments)

In my current project I don't see Users module (we do have a regular User model). How do I re-add it? Should I create a custom module?

[2018-12-07 19:53] yosiat commented on #1350
Hi @tvdeyen!

Thanks for looking for at Panko, I am the author I ran the same benchmark as you did and found something interesting that might help you here.

On my computer (MacBook Pro (15-inch, 2017), 2.9 GHz Intel Core i7) I ran the seed with the same amount of pages you did.

The request takes 9 seconds which I saw 90% of the time is in Panko, a profiling reveals that -

- 40% is on serializin

[2018-12-08 00:04] jedrekdomanski opened #1523 "Documentation is incomplete and Slack invites are not working"
I need your help with Alchemy. Documentation is incomplete so I tried to get an invite to Slack to talk to you but invites are not working.

Click on Join us on Slack here https://alchemy-cms.com/resources and nothing happens. In the console, there are errors:

[code]
Please, for the love of God, do something with it. I need your help re-adding Users module, exactly something you have here https:/

[2018-12-08 08:11] agorneo commented on #1522
Hello,

What do you mean you do not see Users module?
It does not exist in the left side in admin page?

[2018-12-08 08:43] jedrekdomanski commented on #1522
Yes, exactly. It doesnt exist on the left sidebar in admin panel.

sob., 8.12.2018, 09:11: agorneo <notifications@github.com> napisał(a):

[2018-12-08 09:33] tvdeyen commented on #1523
Sorry for the problems about the Slack invite. Will look into it.

The users module is the [alchemy-devise](https://github.com/AlchemyCMS/alchemy-devise) gem. This is [mentioned in the README](
https://github.com/AlchemyCMS/alchemy_cms#3-set-the-authentication-user) and [in the getting started guide](
https://guides.alchemy-cms.com/getting_started.html#install-alchemy-into-the-rails-application).

[2018-12-08 09:34] tvdeyen commented on #1522
Please read the README and/or the getting started guide. And please do not open duplicated issues. Thanks

[2018-12-08 09:34] #1522 closed

[2018-12-08 09:35] #1523 closed

[2018-12-08 09:41] tvdeyen commented on #1523
As also stated in the README the slack invite is available at this domain:

https://slackin.alchemy-cms.com

Is this working for you?

[2018-12-08 12:18] jedrekdomanski commented on #1523
I already had devise user model installed in the project and today I have installed alchemy-devise but I can't login anymore with any user. I get a message "Unauthorized 401". What am I missing?

[2018-12-08 12:51] tvdeyen commented on #1523
Please use Slack or Stack Overflow for questions. This tracker is for issues and bugs. And it does not seem as this is a bug. I assume your user misses the admin role. Please read the documentation https://guides.alchemy-cms.com/custom_authentication.html#activating-your-model

--

Thomas von Deyen

Brödermannsweg 83 c
22453 Hamburg
Germany

Mail: thomas@vondeyen.com
Phone: +49 (0)171 7615474

[2019-01-07 10:41] #1313 closed

[2019-01-17 17:36] sechix opened #1529 "Error in migration drop table alchemy_cells"
After upgrade to last master alchemy version the migrations are failing due to not able to drop table alchemy_cells because has dependencies with alchemy_elements.
'Caused by:
ActiveRecord::StatementInvalid: PG::DependentObjectsStillExist: ERROR:  cannot drop table alchemy_cells because other objects depend on it
DETAIL:  constraint alchemy_elements_cell_id_fkey on table alchemy_elements depends o

[2019-01-17 17:41] sechix commented on #1529
I have solved change order in migration: first remove foreign_key and after drop table.

[2019-01-17 17:41] #1529 closed

[2019-01-17 19:35] tvdeyen commented on #1529
Great to here you solved it. Are you saying we should fix the order in the migration file?

Would you send a PR with the necessary changes? That would be very much appreciated.

[2019-01-23 16:30] eirvandelden opened #1535 "Allow admin's to select language even if the language is not public"
What I did:

- Create a second language, ensuring public is not checked.
- Went back to /admin/pages module

What I expected:

- To be able to switch language

What I got:

- no language selector.

Reason of behaviour:
https://github.com/AlchemyCMS/alchemy_cms/blob/28166426b3427a02a6c6a8f1ed1539b8900aac04/lib/alchemy/configuration_methods.rb#L22

I'm wondering if this is intended behaviour? Should

[2019-02-27 10:27] jedrekdomanski opened #1547 "DEPRECATION WARNING: Method symbolize_keys is deprecated and will be removed in Rails 5.1"
I am getting this deprecation warning so I just want to let you know.

`
DEPRECATION WARNING: Method symbolize_keys is deprecated and will be removed in Rails 5.1, as `ActionController::Parameters` no longer inherits from hash. Using this deprecated behavior exposes potential security problems. If you continue to use this method you may be creating a security vulnerability in your app that can be

[2019-02-27 11:12] tvdeyen commented on #1547
Thanks for reporting, but why did you not used the issue template we are providing? Didn't GitHub showed you while creating the issue? It would be nice to have the informations requested in order to help you out.

The warning has been addressed in Alchemy 4.0 two years ago. Please upgrade if you are not running at least Alchemy 4.0 yet.

[2019-02-27 11:12] #1547 closed

[2019-03-06 09:57] oniram88 opened #1548 "Publish Page Validation duplicated Urlname"
### Steps to reproduce

1. Create a new page and insert a value in "Urlname" (example:  test_test  )
![image](https://user-images.githubusercontent.com/173604/53871907-6bd66800-3ffd-11e9-87d3-74c83242c903.png)
2. publish the page
![image](https://user-images.githubusercontent.com/173604/53871959-7c86de00-3ffd-11e9-9ae4-e992037eee4e.png)
3. create a new page with the name used before (test_test)
![

[2019-03-27 12:13] #1535 closed

[2019-03-28 16:47] tvdeyen commented on #1507
Closed via #1527

[2019-03-28 16:47] #1507 closed

[2019-03-28 18:49] #1492 closed

[2019-03-29 21:04] #1459 closed

[2019-04-24 02:01] tobycox opened #1568 "Session value for `alchemy_language_id` when behind CDN or cache."
This is more of a question rather than a bug report, but wondering how people handle multilanguage sites with cacheing or a CDN.

With Alchemy, if you switch languages on a site, the current language will be stored in the session value `alchemy_language_id`.

So if I have a site with the pages (in both languages):
`www.mysite.com/index`
`www.mysite.com/en-GB/index`

Then if I have `alchemy_languag

[2019-05-09 00:20] admin-it opened #1582 "Could not find the inverse association for user (:folded_pages in User)"
I'm getting the following error when I create a Home page, a nested page, and then another nested page beneath the first nested page.

    Could not find the inverse association for user (:folded_pages in User)

I am using the default page_layout of `index` except I set the `unique` value to `false` and changed the name to `blog_post`. Here is the code.

    name: blog_post
      unique: false

[2019-05-09 06:57] tvdeyen commented on #1582
From what I can tell you are using a custom `User` model, correct? If so, please make sure you have a `has_many :folded_pages, class_name: 'Alchemy::Page'` line in your model.

See https://github.com/AlchemyCMS/alchemy-devise/blob/master/app/models/alchemy/user.rb#L25

[2019-05-22 20:34] #1582 closed

[2019-06-06 11:23] Zahnstochermann opened #1587 "Nested elements are rendered even if they are unpublished"
### Steps to reproduce

1) Add a nested element where possible, eg a picture in the gallery here:
https://alchemy-demo.herokuapp.com/admin/pages/5/edit

2) Try publish/unpublishing the element (the picture). Even if its set to unpublished, the image is shown on the page.

It is even the case on the demo page, see:

<img width="1641" alt="Bildschirmfoto 2019-06-06 um 13 20 24" src="https://user-ima

[2019-06-08 22:43] tvdeyen commented on #1587
Please use the `available` scope to show only visible non-trashed elements:

[code]

[2019-06-11 14:31] Zahnstochermann commented on #1587
Ah, thank you very much for this! I could fix my problem by adding .available to the rendering loop. Where can i find this in the documentation?

Still, from a UX perspective, it doesn't make any sense to me to have to add the scope manually in my code. For me, the default should be: If the icon is shown in the cms the functionality should work. By default, the icon and functionality should be act

[2019-06-12 12:49] delphaber opened #1588 "Ability to override logout HTTP verb (method)"
I'm using `alchemy` with `solidus` and I use `solidus_auth_devise` to manage authentication.

`solidus_auth_devise` defines a logout route that respond to the `GET` HTTP verb, while on alchemy backend, the logout link is built using `DELETE` verb.

[code]

What about adding a new `mattr_accessor` to alchemy, let's say... `logout_method`, so I can override it and use GET?

Would you consider a PR f

[2019-06-14 19:08] tvdeyen commented on #1587
I agree that this is a confusing behavior from a user perspective. But having "default scopes" is also not ideal. As a developer seeing the relation "Page has many elements" or "Element has many nested elements" might think that running `page.elements` or `element.nested_elements` returns all elements as a SQL `SELECT * FROM alchemy_elements WHERE page_id = 1` would do.

But as [we already violate

[2019-06-17 19:30] tvdeyen commented on #1587
@Zahnstochermann I created #1589 that introduces the change.

[2019-06-18 06:45] #1587 closed

[2019-06-18 07:03] tvdeyen commented on #1588
Yes, this would be great.

The force behind all this is Devise.

https://github.com/plataformatec/devise/blob/master/lib/generators/templates/devise.rb#L256-L257

We could read the `Devise.sign_out_via` setting (if `Devise` is present, not all people use Devise) and use what's defined otherwise fall back to our default?

I am also fine with an `Alchemy.logout_method` in the https://github.com/Alch

[2019-06-19 15:51] Zahnstochermann commented on #1587
Very nice! :)

[2019-06-27 23:59] bdensmore opened #1594 "Rendering a list of elements"
I tried joining the slack channel but the invite form doesn't do anything and I didn't see any other option for asking questions, so I'm asking here.

I'm using Alchemy 3.6.1 and have created a sub-page called "news". I have a news_list element that I am adding to that page and would like that element to contain a list of active blog posts that were created in Alchemy as well.

Is there a way to l

[2019-06-28 19:47] alexanderadam commented on #1594
I had the same problem with the invite. The invite thingy in the **footer** is not working as it seems.

I googled and found [https://slackin.alchemy-cms.com/](this link) which worked for me.

[2019-06-28 19:57] alexanderadam commented on #1375
Isn't this issue a duplicate of #1350?

[2019-06-29 09:04] tvdeyen commented on #1375
@alexanderadam It’s related yes, but not a duplication.

I don’t quite understand. Could you elaborate?

[2019-06-29 09:18] alexanderadam commented on #1375
You wrote in September that `fast_jsonapi` wouldn't work because `alchemy_cms` doesn't have a JSON:API compatible API.
But, if I understood this correctly, `fast_jsonapi` wouldn't require an JSON:API. You could just use the serialization functionality (defining some serializer and switching to `serializable_hash`/`serialized_json` & loading the objects from hashes/json).

So it's more a general qu

[2019-07-18 15:02] alexanderadam commented on #1237
Sorry for excavating this issue:

There's this status field with a checkbox whose label says "public". But checking the checkbox and submitting the form won't persist the state of the checkbox.

Whatever the intentions are: UX wise this is broken.

What's the point in offering a checkbox that doesn't work?

What makes it worse is: publishing a page, going into page settings and submitting without

[2019-07-19 14:21] alexanderadam commented on #1492
IMHO absolutely related:

Is it correct that `Alchemy::EssenceLink#link_title` is not used in [`_essence_link_view.html.erb`](https://github.com/AlchemyCMS/alchemy_cms/blob/master/app/views/alchemy/essences/_essence_link_view.html.erb) or am I missing something?

It seems that only `settings/text: Foo` or `content.ingredient` (which is basically the link) is shown.
I would have expected something

[2019-07-29 12:54] mtomov opened #1596 "Feature request: Page properties"
Hello,

**Is your feature request related to a problem? Please describe.**

I've been thinking that I've very often come to the need to add additional information globally per page layout. Let's say that you have a website describing what companies do, like craft.co or similar. Then you'd have a page layout for a company profile. In such cases, there's common information for the page, such as:

[2019-07-29 17:05] tvdeyen commented on #1596
Not really a key value store, but you could use tags. In the `page_layouts.yml` you can set a page as `taggable: true` to enable the tagging input field.

Then tag pages with a delimiter  (`company:akme`). Search pages with joined `taggings` and a `taggings.name LIKE 'company:%'` search scope.

Not ideal, but should work.

I kind of like the key-value store idea, though. Maybe as an extension?

[2019-07-30 11:23] mtomov commented on #1596
Thanks! Thanks for the tagging tip, I'll use it for now, and if I get some time in the next months, I'll certainly give the extension a try. Glad you like the idea : ) Thank you!

[2019-07-30 19:25] ogirginc opened #1597 "Rails 6 Support"
Are there any plans to support Rails 6? I couldn't see anything on readme, issues or any of the branches. Thanks! :)

[2019-08-08 15:31] alexanderadam opened #1603 "It's not possible to publish a page in page properties when client and server don't have the same time zone"
### Steps to reproduce

When time zones differ, the following bug can happen
![alchemy_publishing](https://user-images.githubusercontent.com/372620/62715990-ca1ad300-ba01-11e9-9282-00e5a97a2e2f.gif)

### Expected behavior

Publishing should work

### Actual behavior

It doesn't

### System configuration

- Alchemy Version: `4.2.0`
- Rails Version: `5`

![Screenshot_20190808_173018](https://user-im

[2019-08-09 10:09] alexanderadam opened #1607 "There are no hints / help texts on associations shown"
### Steps to reproduce

1. Have a resource model with associations and standard form
2. try to show it with the `resource_help_texts` key

### Expected behavior

Hint should appear

### Actual behavior

Nothing appears

### System configuration

- Alchemy Version: `4.2.0`
- Rails Version: `5.2.3`

### More hints

[`help_text_for` is not called for resources](https://github.com/AlchemyCMS/alchemy_c

[2019-08-23 07:44] ogirginc commented on #1597
https://github.com/AlchemyCMS/alchemy_cms/pull/1616

[2019-08-23 07:44] #1597 closed

[2019-09-03 15:24] nwitte4 opened #1620 "Cannot login or logout with /admin/login or /admin/logout"
### Steps to reproduce

Logout issue:

1. I followed the installation instructions to get my CMS running at localhost:3000 (adding `alchemy_cms` gem and `alchemy-devise` gem and then setting up my first user)
2. Upon clicking the "Leave" button in the bottom left corner of the CMS I get this error:

<img width="1963" alt="Screen Shot 2019-09-03 at 10 14 33 AM" src="https://user-images.githubuserco

[2019-09-11 21:47] ylluminate opened #1621 "Builder Integration - "Drag and drop page building for any site" in Alchemy"
This MIT licensed React-based tool would make an amazing fit with Alchemy CMS for building and customizing pages and sites:
Site: https://builder.io/
Source: https://github.com/BuilderIO/builder

I believe that integrating this via [Hyperstack](https://github.com/hyperstack-org/hyperstack) would work exceptionally well and provide a much needed edge for the Rails CMS ecosystem. I know it most cert

[2019-09-12 07:20] tvdeyen commented on #1621
@ylluminate If you had taken even a couple of minutes and read about what Alchemy is, than you would have seen that we already are a dragndrop page builder. And making spammy marketing posts like this on GitHub is really bad for your reputation! Reported and blocked! Damn you growth hackers.

[2019-09-12 07:20] #1621 closed

[2019-09-13 18:46] steve8708 commented on #1621
Hey all - I just want to verify that @ylluminate has 0 affiliate with Builder, he solely found my project and is a user of yours and got really enthused that they could work well together.

Also worth nothing - Builder doesn't "save a bunch of html for the whole page", it's structured data as well. I think this is part of why @ylluminate thought there could  be a fit

Anyway, I completely understa

[2019-09-16 03:54] ylluminate commented on #1621
@tvdeyen thanks for the reply. Yes, we would like to take a look at what you're working on in this regard as I think it could be very helpful. Some of our customers have repeatedly requested more flexibility in editing and making custom components on pages (and being able to highly customize them) (@gabrielrios @ylluminarious).

Also, being in the Ruby space, you might consider using Opal. @merong

[2019-09-19 10:45] merongivian commented on #1621
@tvdeyen haven’t used alchemy that much, but if you are interested in using [vue.rb](https://github.com/merongivian/vue.rb) i could help moving the js code to ruby(opal).

That being said, the gem works and I’m using it in a small app i have in production, but i haven’t published it yet. Also it doesn’t work with Single File Components, if you are planing to use it.

Could you share the code you h

[2019-09-25 15:28] gabrielrios opened #1626 "Element views not rendering from Solidus"
### Steps to reproduce

If you try to render a Element from inside a solidus page

      <%= render_elements from_page: 'header' %>

The element won't render, only showing  ``.
It tries to render `app/views/spree/alchemy/elements/element_view` instead of `app/views/alchemy/elements/element_view`

This worked fine on Alchemy 4.1, I'm guessing this is related to `render_elements` changes on #1553 an

[2019-09-25 15:58] tvdeyen commented on #1626
Very interesting. Thanks for reporting. This seems to be a namespacing issue. What controller scope are you running this views code in?

[2019-09-25 18:15] gabrielrios commented on #1626
Spree. This code is on my "spree/layouts/spree_application.html.erb"

[2019-10-16 21:56] DennisNissen commented on #1626
Rails will by default prepend the controller namespace to the partials path. If you render your Elements inside a view rendered by a namespaced controller rails uses the `to_partial_path` method of the `Alchemy::Element`-Model and the namespace of the controller to resolve the partial path.

The only way to get around this maybe to MonkeyPatch `Alchemy::ElementsHelper` to disable controller namesp

[2019-10-20 11:32] severinraez opened #1646 "Setting up app using Rails 6 and alchemy-devise fails with autoloading error"
Hello

Something I've noticed just now. I'm going to use Rails 5.2 for now, but I thought you might like to know.

### Steps to reproduce

- Create a rails 6.0.0 app with `rails new`
- Follow https://github.com/AlchemyCMS/alchemy_cms/tree/4.3-stable using the following lines in `Gemfile` when prompted by the guide:
  - `gem 'alchemy_cms', github: 'AlchemyCMS/alchemy_cms', branch: '4.3-stable'`
  -

[2019-10-20 14:13] delphaber commented on #1588
Better late than never! :D

https://github.com/AlchemyCMS/alchemy_cms/pull/1647

[2019-10-21 07:23] #1588 closed

[2019-10-21 07:34] tvdeyen commented on #1646
Thanks for reporting. This is the wrong repo, though. https://github.com/AlchemyCMS/alchemy-devise would have been the correct one.

That said, the issue itself is already resolved in above mentioned repo. I am currently releasing a 4.3.1. Until then you can use the `master` branch of `alchemy-devise`

[code]

[2019-10-21 07:35] tvdeyen commented on #1646
And the 4.3-stable branch of `alchemy-devise` now also includes the fix.

[2019-10-21 07:35] #1646 closed

[2019-10-22 09:35] DennisNissen opened #1650 "Configuration of devise modules"
### Steps to reproduce

Try to configure the devise modules used in `Alchemy::User` as described in `Alchemy/devise.rb` by adding a initializer that adds devise modules to `Alchemy.devise_modules`.

[code]

### Expected behavior

`Alchemy::User.devise_modules` should include `:fantastic_module`

### Actual behavior

No matter what modules are added to `Alchemy.devise_modules` in the initializer, `

[2019-10-24 12:16] mtomov commented on #1620
Hi,

I have a few suggestions, though don't know exactly the solution to your problem.

I had successfully been running a 2 month installation of alchemy with Rails 5.2, and just tried the login/logout and they both work.

1. Try not using the `master` branches of both gems, but instead the released versions
[code]

2. Try starting from scratch

3. Try using Rails 5.2 - I've not tested it with Rai

[2019-10-24 12:56] tvdeyen commented on #1620
Maybe related to https://github.com/AlchemyCMS/alchemy-devise/issues/89?

[2019-10-31 09:43] jkimmeyer opened #1659 "Simple Form: Security Update"
Hey, I would like to update Simple Form but the stable release 4.3 of Alchemy only allows Simple Form  ~> 4.0. Could you please adapt the dependency and push a new stable release to rubygems?

[2019-10-31 10:45] tvdeyen commented on #1659
Sure. I am currently AFK. Do you mind to cherry pick this commit https://github.com/AlchemyCMS/alchemy_cms/pull/1633/commits/bdaa1ef69bb8fc6c15e60e8ce2f1fbdbc1db4477 and open a PR against 4.3-stable branch? I will be able to merge this then. A release will take some time tough, but you can use the 4.3-stable branch for the time being.

Thanks for reporting

[2019-11-08 10:54] alexanderadam opened #1670 "Missing translation leads to (unexpected) error"
### Steps to reproduce

1. Have a missing locale
2. Go in the backend to edit a page (i.e. `http://localhost:3000/admin/pages/:id/edit`)

### Expected behavior

No errors in the JS console

### Actual behavior

The message `Alchemy.debug is not a function` appears (caused by [this call](https://github.com/AlchemyCMS/alchemy_cms/blob/58d8d402a21477b5a0dfcca2e5943343561f4791/app/assets/javascripts/a

[2019-11-16 22:05] DennisNissen commented on #1670
@alexanderadam i ran into the same issue.

The messages appear, when you hover over content in the preview area of your page?!

This is caused by missing javascript includes in the preview iframe. A Workaround for me is to override the preview.js file from alchemy_cms gem by adding the file

`/vendor/assets/javascripts/alchemy/preview.js` to your project and include your required translations (and

[2019-11-17 08:13] tvdeyen commented on #1659
4.3.2 has been released to rubygems

[2019-11-17 08:13] #1659 closed

[2019-11-17 08:25] tvdeyen commented on #1670
Oh, thanks for reporting @DennisNissen!
In https://github.com/AlchemyCMS/alchemy_cms/blob/master/app/assets/javascripts/alchemy/alchemy.preview.js.coffee

we translate the title attribute.

Now, that one is tricky. The me mentioned solution works, but I tend to not make this a default for everyone. First I would like to not put too much additional javascript into the previewed page and it seems li

[2019-11-17 08:31] tvdeyen commented on #1626
@DennisNissen thanks for the detailed report. Maybe it helps to prefix the path from `to_partial_path` with a leading slash? Hopefully this tells Rails to use an "absolute" and not "relative" path. I really would like to not have to do the proposal. Rather I would like to discuss with Rails core team to make this optional on a per render basis. This can't just only be us who have issues with this

[2019-11-17 13:16] alexanderadam commented on #1670
I just replaced the `Alchemy.debug` call with `console.log` (it just makes `console.warn` anyway so I don't see a point in using `Alchemy.debug` here).

But the translation issue is another but of course.
What cause this issue anyway? Missing `title` definitions of the elements?

[2019-11-17 18:15] DennisNissen commented on #1626
I think that was the first thing i tried, but it did not work.

I would be sufficient if `to_partial_path` could be set to "absolut" or "relative" - but i think that might not be the best place to enable/disable a controller to prepend his namespace. I'm curious what the rails core team come up with concerning this issue :).

[2019-11-18 10:23] tvdeyen commented on #1626
Reading this over and over again and I think this is odd behavior from Rails.

Alchemy itself is an isolated and name spaced engine. Since we [explicitly add the `alchemy` namespace in the elements `to_partial_path`](https://github.com/AlchemyCMS/alchemy_cms/blob/master/app/models/alchemy/element.rb#L274) and we `render_elements` in the `Alchemy` controller namespace, we should actually get `app/v

[2019-11-18 10:27] tvdeyen commented on #1626
@gabrielrios @DennisNissen created https://github.com/AlchemyCMS/alchemy-solidus/pull/53

Could you try this in your apps and report if this fixes your issue and does not introduce new ones?

[2019-11-18 10:39] tvdeyen commented on #1670
@alexanderadam @DennisNissen

Back in the days not all browsers had a `console`, that's why [we test its existence](https://github.com/AlchemyCMS/alchemy_cms/blob/master/app/assets/javascripts/alchemy/alchemy.base.js.coffee#L81). Nowadays we we can assume they have, so `Alchemy.debug` is probably not that relevant anymore.

We should remove `Alchemy.debug` and replace it with regular `console.warn

[2019-11-18 10:41] tvdeyen commented on #1620
@nwitte4 could you please try again with latest released gem versions of `alchemy_cms` and `alchemy-devise`? Would like to see of this issue still exists. Thanks.

[2019-11-18 15:37] jrieger commented on #1626
@tvdeyen I can confirm this works.

[2019-11-20 15:03] OptimusOS opened #1679 "The Demoapp /admin does not work"
The password is invalid
https://alchemy-demo.herokuapp.com/admin/login

demo / demo123 not working

[2019-11-20 19:06] alexanderadam opened #1680 "Long words won't be fully visible in default form backends"
### Steps to reproduce

1. Have a model with a long translated attribute
2. Go into the backend

### Expected behavior

Label is fully visible

### Actual behavior

It isn't
![Screenshot_20191120_195936](https://user-images.githubusercontent.com/372620/69268943-524b6f80-0bd0-11ea-99e1-c2a1c4901e33.png)

### Discussion

Is there a _recommended_ way of fixing this?

I guess adding `white-space: pre-

[2019-11-21 09:14] tvdeyen commented on #1680
This is due to the dialog having a rather small default size. I would rather not try to fix this problem in Alchemy, because all our options are not satisfying. But there is a way to fix this in your app pretty easy.

Yes. I would make use of Rails' template inheritance and put a `_form` partial into the views folder of your resource.

So, for instance having an `Event` model you would put the par

[2019-11-21 09:16] tvdeyen commented on #1679
Some funny person deleted all users....
I will reset the demo.

Really interesting as the demo user should not be able to delete any users. Need to investigate. Thanks for reporting.

[2019-11-21 09:44] alexanderadam commented on #1680
Hi Thomas,

as always: thank you for your fast response! :pray:

Is there any recommended way to increase dialog size _globally_ or would I have to override them for _every_ model?

[2019-11-21 10:31] tvdeyen commented on #1679
@OptimusOS demo has been resetted. Thanks

[2019-11-21 10:31] #1679 closed

[2019-12-13 11:55] #1626 closed

[2019-12-30 00:32] #1670 closed

[2019-12-30 11:57] tvdeyen commented on #1680
What exactly is the difference to the current `white-space: normal`?

[2019-12-30 11:58] tvdeyen commented on #1680
Closing this issue. For additional questions please open new issues.

[2019-12-30 11:58] #1680 closed

[2019-12-30 18:51] tvdeyen commented on #1620
Closed as it's stale. Feel free to open a new issue, if this still a problem in recent versions of Alchemy.

[2019-12-30 18:51] #1620 closed

[2019-12-30 18:53] tvdeyen commented on #937
Closed as it's stale. Feel free to open a new issue, if this still a problem in recent versions of Alchemy.

[2019-12-30 18:53] #937 closed

[2019-12-30 18:55] tvdeyen commented on #1081
Closed as it's stale. Feel free to open a new issue, if this still a problem in recent versions of Alchemy.

[2019-12-30 18:55] #1081 closed

[2019-12-30 18:56] tvdeyen commented on #1136
Closed as it's stale. Feel free to open a new issue, if this still a problem in recent versions of Alchemy.

[2019-12-30 18:56] #1136 closed

[2019-12-30 19:01] tvdeyen commented on #1323
Closed as it's stale. Feel free to open a new issue, if this still a problem in recent versions of Alchemy.

[2019-12-30 19:01] #1323 closed

[2020-01-06 08:07] tvdeyen commented on #1330
Closed as it's stale. Feel free to open a new issue, if this still a problem in recent versions of Alchemy.

[2020-01-06 08:07] #1330 closed

[2020-01-23 15:48] oniram88 opened #1712 "Lost of locals in render elements"
### Steps to reproduce

pass locals to render_elements

### Expected behavior

sub elements should receive all the locals

### Actual behavior

only the first one receive locals

### System configuration

- Alchemy Version: 4.4.1
- Rails Version: 5.2.0

### Possible resolutions
The issue was found in an early version and correct here #1459

change:
https://github.com/AlchemyCMS/alchemy_cms/blob/9c

[2020-01-27 08:13] tvdeyen commented on #1712
Passing locals to element editors has been deprecated, so I recommend to do not use the any more.

But, since they are still supported in 4.4 I will except PRs for a 4.4.2 release that reverts the removal.

Thanks for reporting.

[2020-02-05 00:04] #1607 closed

[2020-02-05 00:04] #1603 closed

[2020-02-05 00:04] #1594 closed

[2020-02-05 00:04] #1596 closed

[2020-02-05 00:04] #1548 closed

[2020-02-05 00:04] #1568 closed

[2020-02-05 00:04] #1509 closed

[2020-02-05 00:04] #1489 closed

[2020-02-05 00:04] #1466 closed

[2020-02-05 00:04] #1482 closed

[2020-02-06 00:04] #1376 closed

[2020-02-06 00:04] #1451 closed

[2020-02-06 00:04] #1375 closed

[2020-02-06 00:04] #1336 closed

[2020-02-06 00:04] #1350 closed

[2020-02-06 00:04] #1325 closed

[2020-02-06 00:04] #1250 closed

[2020-02-06 00:04] #1254 closed

[2020-02-06 00:04] #1196 closed

[2020-02-13 10:27] mbajur opened #1715 "undefined method current_alchemy_user"
### Steps to reproduce

I'm not entirely sure if that's reproductable but all i did was following a guides on installing alchemy from `master`. I Created several elements and page types and went to sleep. Today, after running the app again and going to /cms, i got redirected to sign-in page with error pasted below.

### Expected behavior

I should see a sign-in page

### Actual behavior

On sign-i

[2020-02-15 22:58] andrasf opened #1717 "View partials have _view in their names"
### Steps to reproduce

bin/rails g alchemy:elements --skip

### Expected behavior

View partials get created in the format `element_name.html.erb`, with a variable called `element_name` in them.

### Actual behavior

`element_name_view.html.erb` gets created, with a variable called `element_name` in them, which has to be renamed, but always gets generated again.

### System configuration

- Alche

[2020-02-15 23:13] andrasf opened #1719 "Couldn't find Alchemy::Node with 'id'= error is raised when saving a page"
### Steps to reproduce

Click edit on a page, click save.

### Expected behavior

Page be saved.

### Actual behavior

Couldn't find Alchemy::Node with 'id'= error is raised.

### System configuration

- Alchemy Version: 4.4.1
- Rails Version: 6.0.2.1

[2020-02-16 00:25] andrasf opened #1721 "Edited elements are not following element definitons"
### Steps to reproduce

Create an element. Add a new field to elements.yml.

### Expected behavior

The new field should appear.

### Actual behavior

The new field does not appear.

### System configuration

- Alchemy Version: 4.4.1
- Rails Version: 6.0.2.1

[2020-02-16 13:33] tvdeyen commented on #1721
Have you restarted the server after changing the elements.yml? The file gets cached for performance reasons.

[2020-02-16 15:18] andrasf commented on #1721
I did. It happens when the element is saved, but a new item is added to the contents. Seems like Alchemy only lists the ones saved in the database.

[2020-02-16 21:05] tvdeyen commented on #1719
Thanks for reporting. I am not able to reproduce the error. Could you provide a failing example? Either a demo app or a failing spec would be great.

[2020-02-17 07:12] tvdeyen commented on #1721
Yes. The canonical source if contents is the database. The `elements.yml` is the blueprint for new elements. Elements and its contents get created via multiple sources (ie. the API).

We need a way to allow adding new contents to element blueprints and still have the database the canonical source for contents.

Maybe display a note and a button if a content from the database is not defined in the

[2020-02-17 07:23] tvdeyen commented on #1715
Do you have set up any user authentication? Like `alchemy-devise` for instance?

[2020-02-17 08:07] mbajur commented on #1715
Yup:

[code]

i even used the app for a while (was able to create few elements and page types) but it stopped working next day out of blue.

[2020-02-17 08:11] tvdeyen commented on #1715
I see. And the obvious candidates (deleting `tmp` and stopping `spring`) did not help?

[2020-02-17 08:13] mbajur commented on #1715
Correct. I did that again just to be sure and it's still broken. I can upload the app on GH if that could help

[2020-02-17 08:34] tvdeyen commented on #1715
You can do that, but please do not expect me to look into it any time soon. I would recommend to try to dig into the issue yourself as well. Since you are using Rails 6, there might be an issue with Zeitwerk (the new app reloader in Rails 6). Maybe turning this of helps.

[code]

[2020-02-17 10:50] andrasf commented on #1719
I created a clean install of alchemy. To reproduce it, a menu also has to be created. An empty menu is enough. Then edit the page, click save and the exception occurs.

So probably my fix is not a solution because page wants to be attached to a menu without a reason.

[2020-02-17 10:51] andrasf commented on #1719
Page properties is edited here, not the page contents.

[2020-02-17 10:55] andrasf commented on #1719
Just to make sure I was clear this time, here is everything :)

<img width="200" alt="Képernyőfotó 2020-02-17 - 11 53 43" src="https://user-images.githubusercontent.com/288001/74647598-3bd79480-517c-11ea-84ef-be8446c81727.png">

[2020-02-17 11:07] mbajur commented on #1715
Sadly, it did not helped. I would love to look into that by myself but i don't really know where to even start.

Anyway - would that be fair to assume downgrading to rails 5 could solve this? I'm pretty flexible on that

[2020-02-17 20:07] mbajur commented on #1715
FYI: I just created a new plain project on rails 5.2.4 and i can confirm that after setting everything up and signing-out, i get the same exception

[2020-02-17 20:34] mbajur commented on #1715
FYI: I just created a new plain project on rails 5.2.4 and i can confirm that after setting everything up and signing-out, i get the same exception

***
Edit: i just found the exact same issue here: https://github.com/AlchemyCMS/alchemy_cms/issues/1620

[2020-02-17 21:10] mbajur commented on #1715
FYI: I just created a new plain project on rails 5.2.4 and i can confirm that after setting everything up and signing-out, i get the same exception

***
Edit: i just found the exact same issue here: https://github.com/AlchemyCMS/alchemy_cms/issues/1620

***
Edit2: I prepared a sample failing **rails 5.2.0** project: https://github.com/mbajur/alchemy-exception . To reproduce - just clone it, run `r

[2020-02-19 09:07] andrasf commented on #1721
How about a sync button, that would form the element to follow the blueprint? That would delete removed content fields, and add missing ones. Could be used on elements that's definition was changed.

[2020-02-19 11:35] tvdeyen commented on #1721
That won't for us.

We want to be able to store content in Alchemy w/o always having or knowing about the element structure. The elements blueprint should only be the blueprint for newly generated elements via the UI. If you create elements via the API or from code you don't want this restriction to always need to match the elements blueprint.

It should be no problem to delete the old element and

[2020-02-23 17:05] #1717 closed

[2020-02-24 10:28] mickenorlen commented on #1719
Probably related to this thats just been merged:
https://github.com/AlchemyCMS/alchemy_cms/pull/1725

[2020-02-24 10:32] tvdeyen commented on #1719
Fixed by #1725

[2020-02-24 10:32] #1719 closed

[2020-02-24 12:14] jrieger opened #1734 "Menus should respect current Alchemy site"
### Steps to reproduce

Create different Alchemy sites, each having a menu, keeping the same menu name so you only need one template, e.g. `main_menu` (we run several Alchemy Sites with different domains and languages, but in the same layout).

### Expected behavior

Alchemy should render the menu corresponding to that site (you select the site in the menu section of the admin interface).

### Act

[2020-02-25 09:53] mickenorlen opened #1736 "Nested fixed elements included in non-fixed render"
### Steps to reproduce

Define a fixed element eg:
[code]

Include it in nestable_elements of another element eg:

[code]

### Expected behavior

Should not render alongside non-fixed elements. Add btn should name correctly.

### Actual behavior
- Renders with non-fixed in view through `<%= render_elements %>`
- Renders twice in backend (below and in separate tab)
- Sais "Add blog_index" instead o

[2020-02-25 11:16] tvdeyen commented on #1715
I wonder why the `current_user_method` is not available although the `Devise::SessionsController` inherits from `Alchemy::BaseController` and this controller includes the necessary module (`Alchemy::ControllerActions`) that provides the `current_alchemy_user` method that the `Alchemy::Admin::Locale` module is using to determine the users preferred locale.

@mbajur could you show me your `config/de

[2020-02-25 11:18] mbajur commented on #1715
I don't have `devise.rb` set up in my project (https://github.com/mbajur/alchemy-exception) so i suppose it's being loaded from `alchemy_devise` gem?

[2020-02-25 11:21] tvdeyen commented on #1715
@mbajur did you follow the [install instructions in the README of `alchemy-devise`](https://github.com/AlchemyCMS/alchemy-devise#install).

Namely ran the

[code]

install task? What happens if you do?

[2020-02-25 11:27] mbajur commented on #1715
umm...i'm pretty embarrassed to admit that was it 😨Sorry for confusion and big thanks for your support. That issue can be closed now.

[2020-02-25 11:27] #1715 closed

[2020-02-25 11:28] tvdeyen commented on #1715
That's fine. Maybe this is a documentation issue? Which instructions did you follow? Maybe we can improve it?

[2020-02-25 11:33] mbajur commented on #1715
I was following this guide (if i recall well): https://guides.alchemy-cms.com/getting_started.html#install-alchemy-into-the-rails-application

and the `alchemy:devise:install` step is there so blame is 100% on me. However, what i would love to see from a fresh user-checking-alchemy-out perspective is a rails template to simplify the initialization process even more. Something like, say, RailsEvent

[2020-02-25 11:58] tvdeyen commented on #1715
Yeah, we had this long time ago, but [removed it](https://github.com/AlchemyCMS/alchemy_cms/commit/b68f18d53f2ad9f8718f3b6756ccc3299d8ccbe3#diff-d78ea0495c90dc0218eb66cd92ca55b0) because it was a maintenance burden we didn't want to take.

We even [have a repo for that](https://github.com/AlchemyCMS/rails-templates). It is currently empty, but we can activate it if you want to contribute?

[2020-02-25 12:01] mbajur commented on #1715
To be honest, maintaining something as complex as that would be a maintenance burden indeed, i can imagine that. However, having the simplest template possible just to let users try alchemy out fast would be enough IMO (from a fresh alchemy user perspective at least): https://github.com/AlchemyCMS/alchemy-cms.com/pull/7

[2020-02-25 12:05] tvdeyen commented on #1715
Wouldn't a `Dockerfile` nowadays be a better option?

[2020-02-25 12:07] mbajur commented on #1715
I think these two options has a slightly different target. Rails template is more ruby-users focused while docker is for the rest of the devs. It would be perfect to have both :)

[2020-02-25 12:16] tvdeyen commented on #1715
You are right.

Btw. Github has the template repository feature as well and we [set up the demo](https://github.com/AlchemyCMS/alchemy-demo) to be used as a template for new projects.

[2020-02-26 09:23] tvdeyen commented on #1734
Yes. Should be easy fixable by adding a `site` foreign key to `Alchemy::Node`. Working on a fix

[2020-02-26 09:49] tvdeyen commented on #1736
Fixed elements are not meant like this. They are always ever top level elements and cannot be nested inside other elements. Maybe we should add validations to make this more strict and forbid to create elements like this. Want to prepare a PR for this?

[2020-02-26 09:54] tvdeyen commented on #1734
@jrieger any chance to test out #1736 and prove feedback? Would like to release this soon.

[2020-02-26 11:33] jrieger commented on #1734
It's #1738, but I can confirm this works. Thanks!

[2020-02-26 11:58] #1734 closed

[2020-03-04 18:42] alexanderadam opened #1741 "Filter hides columns on wider tables"
### Steps to reproduce

1. Have a resource with filters and a wide table (i.e. many attributes or long captions in table headers)

### Expected behavior

Everything should be accessible

### Actual behavior

Columns on the right are hidden by the filter bar

### System configuration

- Alchemy Version: `4.4`
- Rails Version: `5.2`

**EDIT:** Would you have any interest in a PR that adds a toggle l

[2020-03-25 14:07] mickenorlen opened #1762 "Font awesome not working in production"
### Steps to reproduce

Enter admin in production environment. Tested in local production simulation as well as on my real production domain (screenshots from local simulation).

### Expected behavior

Icons should appear

### Actual behavior

Tell us what happens instead
![image](https://user-images.githubusercontent.com/9784434/77543818-7f729c00-6ea8-11ea-9a2f-91de8fdd56ba.png)

Note that all ot

[2020-03-27 07:55] mickenorlen commented on #1736
Nah, I'm not gonna deal with this now. Just wanted to report it. Close if you want.

[2020-03-27 08:04] mickenorlen opened #1764 "Features for new blog guide: tag selection, restricted sub_pages, min img dim, content editor selectors, content editor loaded event"
I have a couple of features I would like to have for the new multi page blog guide. https://github.com/AlchemyCMS/alchemy-guides/issues/98. I'm just gonna gather them here for now (in no particular order). Any help/feedback with this is ofc appreciated.

1. **Restricted sub paging** for page_layouts (#1776). Eg:
[code]

2. <strike>**Tag selection essence**</strike>. Simlilar to https://guides.alch

[2020-03-30 08:15] #1762 closed

[2020-04-02 10:18] mickenorlen commented on #1721
I also think it would be very useful to be able to sync elements.yml and db easier, maybe even more than just for adding new elements. Like if you rename or remove a content from the element also.

I think it would be nice to be able to create element migrations that generate db migration files.

[2020-04-02 15:35] mickenorlen opened #1772 "Parseerror on creating fixed element"
### Steps to reproduce

Refresh page (sometimes it works otherwise) and create a new fixed element

### Expected behavior

Fixed element tab should be added without error.

### Actual behavior

![image](https://user-images.githubusercontent.com/9784434/78268092-03abcb80-7508-11ea-8e7d-c425e578cfc9.png)

Logs are saying something about:

[code]

After refreshing page again the fixed element shows u

[2020-04-02 19:20] tvdeyen commented on #1721
I totally understand the problem and faced it myself in many projects I built with Alchemy.

These things mostly happen in early development while bootstraping a new project. Resetting the database combined with sensible seeds helped me dealing with these issues.

And even if one changes the element structure after the project went live there were ways to handle that with data migrations or simply

[2020-04-02 19:20] #1721 closed

[2020-04-02 19:23] tvdeyen commented on #1741
A toggle to be able to hide the side bar would be a nice feature to have. Should work similar to the elements panel.

[2020-04-02 19:24] #1736 closed

[2020-04-02 19:30] tvdeyen commented on #1764
Interesting things in here.

I am  wry interested in the EssenceTag. This is a nice idea.

[2020-04-02 19:33] tvdeyen commented on #1772
How does the response look like? It seems it returns something it cannot parse. Maybe a HTML response containing a server error? The network panel in dev tools should shed some light on that.

The source map warning is unrelated. This is a common error with Sprockets 4

[2020-04-03 07:41] alexanderadam opened #1773 "Alchemy Settings"
**Is your feature request related to a problem? Please describe.**

It would probably be useful to have some settings functionality in the backend.
I don't think that something like [rails-settings-ui](https://github.com/accessd/rails-settings-ui#rails-settings-ui) would be necessary as Alchmemy has most (or probably even all) of the ui functionality available but I guess a settings logic with ove

[2020-04-03 13:03] mickenorlen commented on #1772
I think it works when the DOM is already set up with tabs for fixed content eg. through autogeneration. Errors when it has to create that structure through adding a new fixed element manually.

Network panel is all green
![image](https://user-images.githubusercontent.com/9784434/78363488-23043080-75bc-11ea-8e9e-9a7e60b61088.png)

But there was more in the log:
[code]

[2020-04-05 00:05] #1712 closed

[2020-04-06 08:00] mamhoff opened #1777 "Interaction Menus/Page publishing?"
### Steps to reproduce

Publish some pages, add a menu to them, and then change the menu.

### Expected behavior

The published pages should have the changed menu.

### Actual behavior

The pages are cached and retain the state of the menu from their last edit.

### System configuration

- Alchemy Version: master
- Rails Version: 6

We could touch all the pages of a language tree whenever we chang

[2020-04-06 11:08] mickenorlen opened #1778 "Trash bin for pages"
**Is your feature request related to a problem? Please describe.**
It's pretty scary to delete pages.

Currently it's even difficult to tell which row/page you're actually clicking the delete (-) button on in wide screens. There is a slight yellow highlight on the page icon to the left.
![image](https://user-images.githubusercontent.com/9784434/78552593-11af6400-7808-11ea-9f23-266dd193bdac.png)
An

[2020-04-07 12:07] alebacca89 opened #1779 "in editor element when delete an image in essence picture, it delete all images of other essence picture"
### Steps to reproduce

Define an element with multiple EssencePicture as contents and assign to a page_layout. Create a page with this page_layout and create element defined. Select an image for all EssencePicture defined, click on delete button ( x) on an EssencePicture.

### Expected behavior

I expect the image related to the button clicked to be deleted, while the other images remain present

[2020-04-09 10:01] mickenorlen opened #1783 "Alternative aspect ratios, srcset, cropped images and gravity"
### Problem description

1. Create an element with an image eg:
[code]

2. Save the element without cropping. Here's what is rendered **in small screen 400w**. Notice that srcset is not respecting aspect ratio (600x600).

**Update**, i realize using srcset to change aspect ratio in this way isnt good practise as the pixel density would make the breakpoints unpredictable. But the point that srcset

[2020-04-26 09:28] mickenorlen opened #1791 "Can't delete images in library"
### Steps to reproduce

Try to delete an image in the library

### Expected behavior

Image gets deleted

### Actual behavior
I get this error:
`ActionController::RoutingError (No route matches [POST] "/admin/pictures/delete_multiple"):`

It seems the submitting of the form does not respect the hidden _method input which is supposed to convert the request to a delete request.
[code]

In the rails

[2020-04-28 06:28] mickenorlen commented on #1791
No idea why that happened the other day. Now all of a sudden the hidden input value is cleartext and everything is working.

[2020-04-28 06:28] #1791 closed

[2020-04-28 09:45] mamhoff opened #1793 "Remove position column on alchemy_contents table"
**Is your feature request related to a problem? Please describe.**

The contents of an element are a set, not a sorted array right now. This column used to be meaningful for the `available_contents` feature which has been superseded by nestable elements.

**Describe the solution you'd like**

Add a migration such that the column is removed and the `Alchemy::Content` model does not `act_as_list` an

[2020-04-28 09:48] mamhoff opened #1794 "Research Elements as nested sets"
**Is your feature request related to a problem? Please describe.**

Elements with nested elements are a tree, however, we do not currently have a lot of the API we would like for trees. Possibly, adding `acts_as_nested_set` would alleviate this.

**Describe the solution you'd like**

I would like to be able to run `my_element.descendants` or something similar to get a flattened list of all nested

[2020-04-28 10:02] mamhoff opened #1795 "Simplify Element / Essence relations"
On Monday, 2020-04-27, @tvdeyen and I had a long-ish talk about Alchemy's data model. In this issue, I want to outline some of the thoughts we had in that talk, and ask for community feedback.

Currently, elements are connected to essence like this:

[code]
In our current implementation, the only role the `Content` table has is specify the role of the content for the element, e.g. `title` or `url`

[2020-04-28 10:05] tvdeyen commented on #1794
Since we already have awesome_nested_set in use for pages and nodes it makes sense to use it for elements as well.

[2020-04-28 10:08] mamhoff opened #1796 "Rails' default primary/foreign keys are different from schema.rb in MySQL"
### Steps to reproduce

Add a migration that uses `t.references` to an existing Alchemy table in an installation with MySQL. The migration will fail because the new foreign key will be different from the existing primary key.

### Expected behavior

The foreign key column should be made with a foreign key.

### Actual behavior

The foreign key cannot be created because of a type mismatch between `

[2020-04-28 10:39] tvdeyen commented on #1795
Thanks.

Instead of having a JSON data Hash we could add:

- `Alchemy::Essence::Link` attributes `url`, `target`, `nofollow` that plays the role as link data for `EssenceLink`, `EssenceText`, `EssencePicture`
- `Alchemy::PictureStyle`: `belongs_to EssencePicture`, `EssencePicture.has_one :picture_style` that holds the `crop_from`, `crop_size` and `size` attributes. In a future iteration this could

[2020-04-28 10:49] mamhoff opened #1797 "To Do: Add AJAX Node select to EssenceNode editor partial"
**Is your feature request related to a problem? Please describe.**

PR Review on #1792

**Describe the solution you'd like**

We would like to increase the speed of the Alchemy Page admin when we load a page with many EssenceNodes

**Describe alternatives you've considered**

None

[2020-04-28 12:45] tvdeyen commented on #1793
Yes, that would be great. Thanks

[2020-04-28 15:29] rmparr commented on #1796
I have dug into this and found the issue:

Since Rails 5.1, ActiveRecord migrations use bigint as the default for primary keys ([issue](https://github.com/rails/rails/pull/26266)). As AlchemyCMS supports Rails 5.0 and forward, all of the migrations are >= 5.0.

One solution to make a fresh AlchemyCMS install use bigint is to change all occurrences of `create_table` to include `id: :bigint`, and th

[2020-04-29 10:25] mamhoff opened #1800 "Remove Creator and Updater from Essences"
These fields can be set at the element or page level, essences are too fine-grained for this.

[2020-04-29 11:21] mamhoff opened #1801 "Always persist `render_size` on Alchemy::EssencePicture"
If we have an image and we know how big it is, we'd like to get that info from the database. At the moment, `render_size` is only set under certain conditions.

[2020-04-29 13:32] rmparr commented on #1795
Assuming the JSON was one level deep, wouldn't that be the most performant? It would require fewer trips to the database, and would always be the location to find additional details (no need for checking multiple tables). It could also be extended in the future without worrying about database structure, and would allow users to add additional data to custom essences.

As far as database support is

[2020-04-30 22:18] tvdeyen commented on #1796
@mamhoff we [already migrate and create the correct schema on CI](https://github.com/AlchemyCMS/alchemy_cms/blob/master/Rakefile#L47)

We could drop Rails 5.0 support with Alchemy 5 and make all our migrations be `[5.2]`

Will prepare a PR for the Rails support drop. Rails 5.0 and 5.1 are out of official support anyway.

[2020-05-04 21:30] #1800 closed

[2020-05-05 06:53] #1793 closed

[2020-05-05 07:18] #1796 closed

[2020-05-11 07:32] mamhoff opened #1824 "Research Ancestry Gem"
`awesome_nested_set` has issues preloading ancestors and siblings. Maybe converting our trees to use the `ancestry` gem could alleviate some of that.

[2020-05-11 07:36] #1797 closed

[2020-05-17 11:42] mickenorlen commented on #1764
Closing this as whats left has their own respective issues/PRs anyway

[2020-05-17 11:42] #1764 closed

[2020-05-28 10:12] tvdeyen opened #1858 "Deprecate and remove prefix_locale? helper"
The `page.urlname` is stored as a String without the leading Slash. The getter should add the leading slash and avoid the url name for language root pages in order to avoid unnecessary redirects if building a link out of it.

Thoughts:

- [ ] ~~Should we store the url name with the leading Slash in the database?~~
- [x] Should we add a new method `Page#url_path` in order to build links with optimi

[2020-05-28 10:14] tvdeyen commented on #1858
LOL, and thanks, I am really glad joining this community.

[2020-05-28 10:28] tvdeyen commented on #1858
We need to consider multi language sites as well. For the default language we want to avoid the pages `language_code`, but for non-default languages we want to prefix the url with the `language_code`, but only if the current site has multiple published languages.

[2020-05-28 12:00] mamhoff commented on #1858
I believe it's safest and cleanest to store the full URL path in the database going forward. Not something that we need to tackle right now, but I like that better than doing a lot of work prefixing things.

[2020-05-28 12:50] tvdeyen commented on #1858
We can't safe it unless we always update the url whenever we add/remove languages, toggle the default state of a language and so on. We do not want to do that.

IMO the safest way is to abstract the url generation into a service class that handles all the case.

I already started implementing it. We can continue the discussion on the upcoming PR.

[2020-05-28 13:05] tvdeyen commented on #1858
With that we can get rid of lots of `prefix_locale?` usages all over the code base.

[2020-06-02 15:21] dbwinger opened #1862 "Alchemy::Site#public having no effect"
### Steps to reproduce

Add a site and do not set it to 'Public'

### Expected behavior

The site should not display content when visited at the host when not logged into Alchemy.  (My opinion is that it should when logged in).

### Actual behavior

The site can be viewed as if it was public.

### System configuration

- Alchemy Version: 3.6.5
- Rails Version: 4.2.11.3

[2020-06-02 22:32] tvdeyen commented on #1858
[`Page#url_path`](https://github.com/AlchemyCMS/alchemy_cms/blob/4.6-stable/app/models/alchemy/page/url_path.rb) has been introduced in #1859

[2020-06-02 22:35] tvdeyen commented on #1777
@mamhoff can you verify this happens in latest master? Also make sure that the `render_menu` helper is not inside a `cache(page)` block.

[2020-06-03 06:22] alexanderadam commented on #1773
I don't see any advantage in opening a new issue…

[2020-06-03 14:04] dbwinger opened #1870 "EssenceLink dialog not showing pages specifically the Language tree the page belongs to"
### Steps to reproduce

1. Set up more than one language (for example, 'Language 1' and 'Language 2').
1. Open a page for editing under 'Language 1'.
1. Without closing that page, go back to the 'Pages' page.
1. Change the language selector to 'Language 2'
1. Go back to the page that was open.
1. Add an element which includes n `EssenceLink`
1. Click the link to open the dialog with pages to choos

[2020-06-04 14:48] tvdeyen opened #1873 "Remove redirect_to_public_child"
Now that we have separated the navigation and url structure from the page tree with the introduction of menus and the simplified url generating we might consider to remove the `redirect_to_public_child` feature.

[2020-06-06 11:33] mickenorlen commented on #1801
Mb try to merge this before refactoring <3 https://github.com/AlchemyCMS/alchemy_cms/pull/1786

[2020-06-09 00:13] #1741 closed

[2020-06-10 00:14] #1772 closed

[2020-06-11 00:14] #1773 closed

[2020-06-11 08:23] #1779 closed

[2020-06-11 08:59] tvdeyen commented on #1870
I tend to agree, but there might be scenarios where this is not the desired feature. For instance if one want to link to content in another language. Usually one would provide a language select somewhere, but there might be scenarios where it is desirable to have the ability to link to content in other languages.

[2020-06-12 13:56] dbwinger commented on #1870
@tvdeyen I agree that would be an even better solution - providing a language select within the dialog.  But in the absence of that, I would expect to see the pages from the language of the page currently being edited.